[2018-03-22 10:47] maczokni opened #1 "Help with proofreading and adapting the content with social science examples"
So myself and @langtonhugh have just completed our data carpentry training instructor 2-day workshop, and in looking to contribute to something for our checkout tasks, we came across this re-writing of the R material for social sciences.

We thought that the best use of our skills would be to contribute to this by helping proof-read, and amend the sessions with social-sciences related examples.  W

[2018-04-04 13:41] juanfung commented on #1
Hi @maczokni, I've just started as the maintainer for this lesson. Please feel free to submit a PR for any typos you've spotted! If you'd rather just submit an issue, that works too.

New examples are always welcome, but will require review by two maintainers. Larger changes will involve even more reviewers. That said, please feel free to submit PRs for your ideas!

[2018-04-04 13:41] #1 closed

[2018-04-12 15:42] ErinBecker opened #2 "Lesson release checklist"
## Lesson Release checklist

**For each lesson release, copy this checklist to an issue and check off
during preparation for release**

Scheduled Freeze Date:   2018-04-27
Scheduled Release Date:  2018-04-30

Checklist of tasks to complete before release:

- [x] check that the learning objectives reflect the content of the lessons
- [x] check that learning objectives are phrased as statements usin

[2018-04-12 17:37] DanielleQuinn commented on #2
I'll tackle a couple of these today
- check for typos
- check for clarity and flow of narrative
- check links
- check that language is clear and free of idioms / colloquialisms

[2018-04-12 18:50] DanielleQuinn opened #4 "06-Relational Database: Clarify wording and code (specific cases)"
There are a few places that could use a better description of the code being run:

- line 79
results <- dbSendQuery(mydb, "SELECT * FROM Question1")

- lines 156-165
dbfile_new = "a_newdb.sqlite"
mydb_new = dbConnect(dbDriver("SQLite"), dbfile_new)

dbWriteTable(conn = mydb_new , name = "SN7577", value = "SN7577.csv",
             row.names = FALSE, header = TRUE)

dbWriteTable(conn = mydb_new , n

[2018-04-12 19:06] ErinBecker opened #5 "add output cells"
For each input chunk of code, show the output that will be produced. This will help the learners and the instructors to know that they are getting the expected output.

Output code should be marked with `.output:` as described [here](http://swcarpentry.github.io/lesson-example/04-formatting/index.html).

See also https://github.com/datacarpentry/python-socialsci/issues/11

[2018-04-12 19:12] ErinBecker opened #6 "introduce r syntax highlighting"
Code chunks should have the tag

`.language-r`

as described [here](http://swcarpentry.github.io/lesson-example/04-formatting/index.html). This will make the code show up with standard R color coding and other standard aesthetics.

See also: https://github.com/datacarpentry/python-socialsci/issues/12

[2018-04-12 19:47] nsbowden opened #7 "Edit typos, formatting, and style of pre-requisites md file"
This issue is meant to address the some of the basic items in the Lesson Release Checklist for this repository.

[2018-04-12 20:10] nsbowden opened #9 "Some RStudio Wokring Directory clarity in pre-requisite episode"
Here is the instance that might warrant clarification

" You can change it from the menu items for the tab, or more likely it will change when you create a project with its own folder as we will be doing later. "  I think the first it refers to the current working directory, but may not be crystal clear for new users.  Also, menu items for the tab is a little unclear.  In the Sessions menu there i

[2018-04-12 21:11] #7 closed

[2018-04-12 21:43] ErinBecker opened #10 "render exercises as exercises"
Some of the exercises (e.g. in [this episode](http://www.datacarpentry.org/spreadsheets-socialsci/02-reformatting/)) are not formatted as exercises. Exercises and their solutions should be marked with specific syntax detailed [here](http://swcarpentry.github.io/lesson-example/04-formatting/index.html).

[2018-04-12 21:46] ErinBecker opened #11 "discuss why these formatting problems are problematic"
Episode 2 has this text:

White space to the top and to the left of the data.
There are two header line types with different data items in each
One of the header line has two separate data items

but it doesn't explain why these are problematic. It would be good to have more exposition about why these are problems (ie. what will happen to the user downstream if they have these formatting issues in

[2018-04-12 21:48] nsbowden opened #12 "01-R basics.md editing typos, formatting, style"
Addresses these issues associated with lesson release checklist

[2018-04-12 21:50] ErinBecker opened #13 "add caveat about manually reformatting spreadsheets"
Episode 2 has a good exercise for fixing formatting issues in a badly formatted spreadsheet, however this may lead the learner to infer that manually formatting a spreadsheet is good practice (despite the fact that it's not reproducible). It would be good to note here the following (with a little exposition of each):

- This exercise is provided as an example of what good formatting looks like and

[2018-04-12 21:54] ErinBecker commented on #13
This issue was created by mistake. I meant to create it here: https://github.com/datacarpentry/spreadsheets-socialsci/issues/20

[2018-04-12 21:54] #13 closed

[2018-04-12 23:44] ErinBecker commented on #5
Partially addressed by https://github.com/datacarpentry/r-socialsci/pull/14/

[2018-04-12 23:45] ErinBecker commented on #5
- [ ] episode 00
 - [ ] episode 01
 - [ ] episode 02
 - [ ] episode 03
 - [ ] episode 04
 - [ ] episode 05
 - [ ] episode 06

[2018-04-12 23:45] ErinBecker commented on #6
- [ ] episode 00
 - [ ] episode 01
 - [ ] episode 02
 - [ ] episode 03
 - [ ] episode 04
 - [ ] episode 05
 - [ ] episode 06

[2018-04-13 13:27] juanfung commented on #12
Is this resolved by PR https://github.com/datacarpentry/r-socialsci/pull/16?

[2018-04-13 18:56] ha0ye commented on #11
I'll look into this as well.

[2018-04-13 18:58] ha0ye commented on #9
Agree - glossing over the use of RStudio projects may confuse folks, especially if they later use RGui, don't set up projects, work on a different computer, etc.

[2018-04-13 19:04] fmichonneau opened #17 "The episodes are in the wrong folder"
all the episodes need to be transferred to the `_episodes_rmd` folder, and renamed to end in a Rmd extension.

[2018-04-13 19:06] fmichonneau commented on #17
working on this now

[2018-04-13 19:06] ha0ye opened #18 "missing link for dataset description (7577)"
In episode 02, there's supposed to be a link to a description of the example dataset:
[code]
but the URL is missing. I'm not sure what this is supposed to be, so I'm leaving it blank for my current batch of reformatting edits.

It's possible that this information should also be added to the https://github.com/datacarpentry/python-socialsci lesson, too.

[2018-04-13 19:19] ha0ye opened #19 "missing SPSS version of the data file"
One of the exercises in episode 02 refers to loading the data from an SPSS output file.
[code]
 I didn't find this file in the `data` subfolder or in the python version of the lesson. Does this need to be added to the repo?

[2018-04-13 19:28] ha0ye commented on #5
Episode 02 has some code that generates a large amount of output:
[code]

Do we want to include the output for all of this?

[2018-04-13 19:48] cengel commented on #6
Ok. So there seems to have been an issue with the episodes not being in the right folder and not being `.Rmd` format. Syntax highlighting will be added automatically once the `Rmd` files are processed by `knitr`/rmarkdown, so this issue here might become obsolete.

[2018-04-13 19:58] fmichonneau commented on #6
@cengel this is correct. I suggest we close this issue.

[2018-04-13 19:59] fmichonneau commented on #17
The files are in the correct folder. The syntax needs to be adjusted now. I'll open separate issues to address this.

[2018-04-13 19:59] #17 closed

[2018-04-13 20:20] fmichonneau opened #23 "Convert code chunks in 02-Reading-text-files"
Code chunks like this

[code]
need to be converted to:

[code]

[2018-04-13 20:21] fmichonneau opened #24 "Convert code chunks in 03-Introducing-dplyr-and-tidyr"
See #23 for example

[2018-04-13 20:21] fmichonneau opened #25 "Convert code chunks in 04-Data-visualisation-with-ggplot2"
See #23  for example

[2018-04-13 20:29] fmichonneau opened #26 "Convert code chunks in 06-Using-relational-database-with-R"
See #23 for an example

[2018-04-13 21:43] ljcohen opened #28 "Setup page is missing content"
Page is blank, please add content!

http://www.datacarpentry.org/r-socialsci/setup/

[2018-04-13 21:51] Epsian opened #29 "Prerequisites episode 404s"
The prerequisites episode leads to a 404 page.

http://www.datacarpentry.org/r-socialsci/00-Pre-requisites/

[2018-04-13 21:58] Epsian commented on #28
#30 Pull Request

[2018-04-13 22:07] Epsian opened #31 "Markdown not rendering correctly in Episode 02 Reading Text Files"
R Markdown is not rendering correctly somewhere around line 153:
"```{r, eval = FALSE} SN7577_tab[, -1] # The whole data.frame, except the first column SN7577_tab[-c(7:34786), ] # Equivalent to head(surveys)"

http://www.datacarpentry.org/r-socialsci/02-Reading-text-files/

[2018-04-13 22:07] fmichonneau commented on #28
closed with #30

[2018-04-13 22:07] #28 closed

[2018-04-13 22:07] fmichonneau commented on #29
this is fixed now that the site has been regenerated

[2018-04-13 22:07] #29 closed

[2018-04-13 22:10] Epsian commented on #31
Website regeneration seems to have fixed.

[2018-04-13 22:10] #31 closed

[2018-04-13 22:26] ha0ye opened #33 "`posessions` typo in episode 01"
`posessions` should be `possessions`

[2018-04-13 22:26] #26 closed

[2018-04-13 22:27] #23 closed

[2018-04-13 22:27] #24 closed

[2018-04-13 22:27] #25 closed

[2018-04-13 22:27] #6 closed

[2018-04-13 22:47] Epsian opened #35 "Blank plot in Episode 04 ggplot"
First plot (unnamed-chunk-3) is blank.

http://www.datacarpentry.org/r-socialsci/04-Data-visualisation-with-ggplot2/

[2018-04-13 22:49] Epsian opened #36 "Data missing in Episode 04 ggplot"
surveys_complete data is missing

http://www.datacarpentry.org/r-socialsci/04-Data-visualisation-with-ggplot2/

[2018-04-13 22:56] gtlaflair commented on #35
It looks like that is purposeful--to show how layers can be added to a ggplot object

[2018-04-13 23:00] Epsian opened #37 "Inconsistent header usage in Episode 03 dplyr & tidyr"
The headers in episode 3 seems inconsistent. Pipes are a double header (## Pipes), while the mutate function is triple (### Mutate), and the summarize function is quadruple (#### The `summarize()` function). Is there a style guide for when to use which headers?

[2018-04-13 23:02] Epsian commented on #35
Ah, I get it. Was afraid it was another missing data issue. Feel free to close this.

[2018-04-13 23:04] #35 closed

[2018-04-13 23:13] Epsian opened #38 "`!` operator mentioned in Episode 03 dplyr & tidyr"
The `!` operator is mentioned on line 294, but it may be useful to introduce it earlier, and in a full section rather than a code comment. I propose adding it to Episode 01 R Basics around line 416, where other operators like <, >, ==, and != are introduced.

http://www.datacarpentry.org/r-socialsci/03-Introducing-dplyr-and-tidyr/
http://www.datacarpentry.org/r-socialsci/01-R-basics/

[2018-04-18 22:36] DanielleQuinn commented on #36
This should be fixed with a recent PR and can be closed :)

[2018-04-20 13:28] juanfung commented on #11
@ha0ye Good catch!

[2018-04-20 13:28] #11 closed

[2018-04-20 13:48] juanfung commented on #33
Thanks, I'll fix this.

[2018-04-20 13:56] juanfung commented on #33
Resolved by 83f81e52196fe94ff9c2d595dc44732862076a4f

[2018-04-20 13:56] #33 closed

[2018-04-24 16:38] elinw opened #44 "Error in rendered page"
In the "Extracting subsets from vectors" section of [01-R-basics](http://www.datacarpentry.org/r-socialsci/01-R-basics/) there is an error message because of a mis-spelled variable name.  This PR fixes:
https://github.com/datacarpentry/r-socialsci/pull/43

[2018-04-24 19:12] #44 closed

[2018-04-25 16:58] juanfung commented on #38
@Epsian I think this is a good idea. I'm wondering if we should also introduce logical operators when we introduce `!`...

[2018-04-25 17:55] juanfung commented on #37
@Epsian I'll work on this now.

@ErinBecker is there a style guide? Otherwise, I'll just default to `###`

[2018-04-25 19:13] juanfung commented on #18
@ha0ye Nice detective work! Resolved by ef0f3d254b5e674a1c90a8c5cecd83395ffcc049

[2018-04-25 19:13] #18 closed

[2018-04-25 19:16] juanfung commented on #12
Sorry @nsbowden forgot to tag you. Just want to make sure that PR#https://github.com/datacarpentry/r-socialsci/pull/16 resolves this issue.

[2018-04-25 19:18] juanfung commented on #10
@ha0ye Just checking in whether I should take on this issue. Let me know!

[2018-04-25 19:25] ha0ye commented on #10
Ah, I think I got up through episode-03, and they mostly looked fine. I'm not sure about the later half of the lessons or what all @fmichonneau had managed to merge in for the bug BBQ.

[2018-04-25 19:36] juanfung commented on #38
Whoops. Logical operators are introduced in episode 01, shortly after `<,>,==,!=` are introduced.

9831be84fbadeab00e2b8372c979253a1150943a introduces `!` in episode 01.

[2018-04-25 19:36] #38 closed

[2018-04-25 19:43] juanfung commented on #10
Okay, thanks! I'll pick up from episode 03, then.

[2018-04-25 19:56] fmichonneau commented on #37
in general, I use `##` for the first level of headers within the episode. `#` should be for the title of the episode itself.

[2018-04-25 19:57] juanfung commented on #37
Thanks @fmichonneau !

[2018-04-25 19:59] juanfung commented on #37
Resolved by 9488bbede2361b1f059335657f145264ed043fdb

[2018-04-25 19:59] #37 closed

[2018-04-25 20:34] PeterSmyth12 commented on #19
[SN7577_spss.zip](https://github.com/datacarpentry/r-socialsci/files/1948743/SN7577_spss.zip)

zipped version of SN7577_spss.sav

[2018-04-26 15:35] juanfung commented on #19
Data added in 3042717ad499084d6ac0aeb25884001630b3b180

[2018-04-26 15:35] #19 closed

[2018-04-26 15:52] juanfung opened #45 "Loading SPSS version of data assumes RStudio"
The first exercise in episode 02 asks the student to load `"data/SN7577_spss.sav"` using the RStudio import wizard.

Would it be worthwhile to show how to load such datasets *without* using RStudio's import wizard? For example `foreign::read.spss` or `haven::read_spss`. The latter is included as part of the `tidyverse`.

[2018-05-04 21:12] fmichonneau commented on #12
yes, things are looking ok now. I'll commit the rendered files soon. Thanks!

[2018-05-04 21:12] #12 closed

[2018-05-04 21:20] fmichonneau opened #46 "rename episode 02"
from "reading text files" to "reading CSV files"

reading text files would suggest we are reading full-text data.

[2018-05-04 21:21] fmichonneau opened #47 "Does the lesson need the SPSS file?"
Is it necessary to cover how to read SPSS file in this lesson? What is the motivation behind it?

[2018-05-04 21:23] fmichonneau opened #48 "Tweak data output in episode 2"
Currently, many datasets are shown in their entirety and it's distracting, we need to use `head()`, or adjust `options()` to limit the size of the outputs.

[2018-05-04 21:33] fmichonneau opened #49 "Date/time section in episode 2 is too long?"
the date/time section is quite extensive, and some details could be simplified. Specific learning objectives for working with date/time data should be articulated so this section can be made more precise.

[2018-05-04 21:36] fmichonneau opened #50 "dplyr/tidyr episode should be rewritten to use the SAFI dataset"
the same dataset should be used across lessons and episodes in Data Carpentry workshops.

[2018-05-04 21:39] fmichonneau opened #51 "database episode"
- [ ] fix formatting issues
- [x] put database file in a `data/` folder to follow good practices of working directory organization mentioned in first episode

[2018-05-04 21:41] fmichonneau opened #52 "General advice on working directory organization is missing"
Something like this: http://www.datacarpentry.org/R-ecology-lesson/00-before-we-start.html#getting_set_up

[2018-05-08 17:49] cwant commented on #51
Also, that episode has errors everywhere in the rendered content:

http://www.datacarpentry.org/r-socialsci/06-Using-relational-database-with-R/

[2018-05-08 19:59] sechilds commented on #51
Looking into these errors, it looks like the SQLite database SN7577.sqlite is an empty file -- so when the `.Rmd` files generate the episode Markdown file, it generates the errors.

[2018-05-08 20:01] cwant commented on #51
When I started to look at this module, I had to grab the database from here:

http://www.datacarpentry.org/sql-socialsci/data/SN7577.sqlite

[2018-05-08 20:03] sechilds commented on #51
Yeah - that needs to be added to this repo.

[2018-05-08 20:25] juanfung commented on #47
Related: https://github.com/datacarpentry/r-socialsci/issues/45

[2018-05-09 13:28] juanfung commented on #50
@fmichonneau episode  2 also uses *both* the SAFI and the SN7577 data sets.

Episode 1 states, at the beginning, that "In this lesson we we be using 3 data files": SAFI_results.csv, SN7577.csv, and SN7577.tab.

Does the whole lesson need to be re-written?

[2018-05-09 13:35] juanfung commented on #51
Second task resolved by 9067b8094bfb4be2f5c7fa9cfc67f62d432d88ea

[2018-05-09 16:57] juanfung commented on #48
So, I created a branch to fix this but somehow made the changes on `gh-pages` and pushed with this commit 09fc7e0ce6f066f347ce8cb4c3462a4dbb4b3f92. This commit 80e2d154e158c3bb5fa272672bc41e53a1461c23 pushes rendered pages.

[2018-05-17 13:42] fmichonneau commented on #10
the lessons have been fully converted to Rmarkdown, and use the correct template syntax now.

[2018-05-17 13:42] #10 closed

[2018-05-17 13:43] fmichonneau commented on #48
with the switch to the SAFI dataset, this is addressed.

[2018-05-17 13:43] #48 closed

[2018-05-17 13:45] fmichonneau commented on #51
in preparation for the initial release of this lesson, the database episode has been removed. It can re-integrated once the SQL lesson for this curriculum has been revamped.

[2018-05-17 13:45] fmichonneau commented on #50
this has been addressed by Erin's rewrite of the lesson.

[2018-05-17 13:45] #50 closed

[2018-05-17 13:46] fmichonneau commented on #47
the SPSS files have been removed from the lesson.

[2018-05-17 13:46] #47 closed

[2018-05-17 13:47] fmichonneau commented on #45
the SPSS file has been removed from the lesson

[2018-05-17 13:47] #45 closed

[2018-05-17 13:50] #46 closed

[2018-05-17 13:55] fmichonneau commented on #49
this has been addressed.

[2018-05-17 13:55] #49 closed

[2018-05-17 13:55] fmichonneau commented on #5
this has been addressed

[2018-05-17 13:55] #5 closed

[2018-05-17 13:56] fmichonneau commented on #9
closing in favor of #52

[2018-05-17 13:56] #9 closed

[2018-05-17 13:58] fmichonneau commented on #4
this will need to be revisited once the database episode is brought back in. Related to #51

[2018-05-17 16:25] #52 closed

[2018-05-17 17:47] fmichonneau opened #57 "Create a code handout"
similarly to the R ecology lesson, this lesson should have a code out with the skeleton of code chunks, links to data files, etc.

[2018-05-18 00:04] fmichonneau opened #58 "fix inline nrow calls"

[2018-05-18 00:05] fmichonneau opened #59 "fix datasets for last plots in ggplot lesson"

[2018-05-18 00:06] fmichonneau opened #60 "name ggplot2 chunks"

[2018-05-18 14:49] #60 closed

[2018-05-18 15:20] #59 closed

[2018-05-18 15:26] #58 closed

[2018-06-06 15:43] #2 closed

[2018-06-11 20:43] fmichonneau opened #64 "Transition to standardized GitHub labels"
The lesson infrastructure committee unanimously [approved](https://github.com/carpentries/lesson-infrastructure/blob/master/2018-05-23-minutes.md#github-labels-to-use-across-our-lessons) the proposal of using the same [set of labels](https://docs.carpentries.org/topic_folders/maintainers/github_labels.html) across all our repositories during its last meeting on May 23rd, 2018.

This repository has

[2018-06-12 19:30] cmrfoley opened #65 "data types and structures"
The discussion of data types and data structures in "Vectors and data types" could be clarified. Perhaps even defining these terms before using them would help. Also note that the first sentence of the section reads "A vector is the most common and basic data type in R, and is pretty much the workhorse of R." perhaps this should be changed to "basic data structure"

[2018-06-21 13:30] sheraaron opened #67 """
Please delete the text below before submitting your contribution.

---

Thanks for contributing! If this contribution is for instructor training, please send an email to checkout@carpentries.org with a link to this contribution so we can record your progress. You’ve completed your contribution step for instructor checkout just by submitting this contribution.

Please keep in mind that lesson maint

[2018-06-22 21:48] dhicks opened #68 "04, "percent of each house type""
In the Barplot section of the ggplot lesson, the narrative text says that we want to create a dataframe with "the percent of each house type in each village."  However, the code calculates percentages across the entire dataset, not by village.  Note that the totals for each village are clearly well below 100%.

The code should be
[code]

[2018-06-22 22:02] dhicks commented on #68
Same problem in the following exercise

[2018-06-25 17:18] potterzot opened #71 "Include language on tibbles in the 02-starting-with-data lesson?"
In the [02-starting-with-data lesson](https://github.com/datacarpentry/r-socialsci/blob/gh-pages/_episodes_rmd/02-starting-with-data.Rmd#what-are-data-frames) the language is about data frames, but the output window and examples is displayed in tibbles. This seems a little confusing. Would it be clearer to emphasize the tibble portion a little earlier?

[This is submitted as part of the instructor

[2018-06-27 23:12] ErinBecker opened #73 "`|` character on Spanish keyboards"
The Spanish Mac keyboard does not have a `|` key. This character can be created using:

`alt` + `1`

Add to instructor notes?

[2018-06-27 23:18] ErinBecker opened #74 "flip order of %in% example"
`possessions %in% c("car", "bicycle", "motorcycle", "truck", "boat")`

vs `c("car", "bicycle", "motorcycle", "truck", "boat") %in% possessions`

[2018-06-28 13:23] fmichonneau commented on #74
As it is in the lesson currently, it seems correct to me. `"car"` and `"bicycle"` are the only elements in both `possessions` and the list of items, so the following works as expected:

[code]

Unless you open the issue to remember mentioning something else?

[2018-06-28 18:10] ErinBecker opened #75 "timing is wrong"
See below.

[2018-06-28 18:11] ErinBecker opened #76 "read_csv vs read.csv"
This always leads to a long conversation because learners have heard of one or the other of these and want to talk about the differences. Think about how this can be incorporated into the curriculum as an example of reading helpfiles and understanding default options.

[2018-06-28 18:12] ErinBecker opened #77 "n_row / 2 is a decimal"
In the starting with data episode, one of the exercises has the learners get the middle row by using `n_row / 2`. There are 131 rows in the dataframe, so the result is 65.5. Using this in subsetting, however, gives the 65th row for most learners. Some get an error.

[2018-06-28 18:13] ErinBecker opened #78 "n_row / 2 is a decimal"
In the starting with data episode, one of the exercises has the learners get the middle row by using `n_row / 2`. There are 131 rows in the dataframe, so the result is 65.5. Using this in subsetting, however, gives the 65th row for most learners. Some get an error.

[2018-06-28 18:21] katffowler commented on #78
If the learners forgot to put a comma after n_rows/2 they'll get the error. E.g.
n_row <- nrow(interviews)
interviews <- interviews[nrow / 2]

If they add the comma such that...
interviews <- interviews[nrow / 2 , ]
...the error goes away

[2018-06-28 18:46] katffowler opened #79 "missing part of solution in renaming factors"
in the solution section for the renaming factors exercise, we're missing the solution for part 1 (where you rename the factors, before plotting them in a specific order). The method is explained in the lesson (memb_assoc[is.na(memb_assoc)] <- "undetermined"), but it would be helpful to have it in the solutions to for helpers who haven't been following along with every part of the lesson.

[2018-06-29 20:49] ErinBecker opened #80 "action items from Curriculum Advisors"
The Social Sciences CAC (social-sciences-curriculum-advisors@carpentries.org) met June 15th and 19th to discuss the full Social Sciences curriculum and provide recommendations to the Maintainers about work for these lessons between now and their next publication (December 2018). Their specific action items for this lesson are as follows:

- Adding JSON to the R lesson
- Adding merging dataframes t

[2018-06-29 22:31] ErinBecker commented on #74
@fmichonneau - sorry for the obscure issue. I was in the middle of teaching and put in a bunch of issues during the break. The problem here was that the direction in which we are doing the comparison is counter-intuitive. In most use cases, we will want to see whether one of a specific set of things is in an existing data vector, but in this case, what we're doing is looking to see whether each it

[2018-06-29 22:31] ErinBecker commented on #68
Thanks for the corrections @dhicks!

[2018-06-29 22:31] #68 closed

[2018-07-12 17:23] ErinBecker commented on #75
I recently taught this curriculum with @katffowler, @enfascination, @dhicks and others. We found the recommended timings to be very low. The following timings are representative of the actual time it took us to teach the lesson:

- [ ] [Episode 1](https://datacarpentry.org/r-socialsci/00-intro/index.html) - Good as is
- [ ] [Episode 2](https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html

[2018-07-12 17:24] ErinBecker commented on #75
@juanfung - I'm happy to put in a PR with these changes if that sounds ok to you.

[2018-07-12 17:38] juanfung commented on #75
@ErinBecker I can take care of the PR!

[2018-07-12 17:44] ErinBecker commented on #75
You're a lifesaver @juanfung!

[2018-07-12 18:57] juanfung commented on #75
Resolved by #81

[2018-07-12 18:57] #75 closed

[2018-07-17 13:57] #64 closed

[2018-09-07 15:10] nexner opened #83 "Categorical data also called nominal is SocSci"
So many social science learners start with the nominal.ordinal/ratio system of understanding variable types. I wonder if we couldn't acknowledge this in the Factors section when we bring up categorical data? Just a quick clarifying parenthetical after the first time it mentions it, like: (also called nominal data).

[2018-09-07 16:26] KevinBWilkins opened #84 "Possible Confusion with Loading Data"
Hello,
In the "Starting-with-data" episode, the lesson has students load in the interview data with the following 2 commands:
library(tidyverse)
interviews <- read_csv("data/SAFI_clean.csv", na = "NULL")
The lesson then points out that the user should not see any output because this is just an assignment. However, when you run this in RStudio, you will get an output in red text about how the data

[2018-09-11 10:00] benmarwick commented on #28
Seems that the setup page is missing content again:

![image](https://user-images.githubusercontent.com/1262179/45353017-fb1d3880-b5e3-11e8-9f4d-95c45437017b.png)

[2018-09-11 12:53] fmichonneau commented on #28
The URL for the setup instructions is https://datacarpentry.org/r-socialsci/setup.html

If there is a link somewhere in the lesson that points to http://www.datacarpentry.org/r-socialsci/setup/ please let me know!

[2018-09-11 12:58] benmarwick commented on #28
Ah! I see, thanks, yes, I've made a PR to try to fix that: https://github.com/datacarpentry/r-socialsci/pull/85

[2018-10-16 20:34] broadwym opened #87 "Installing packages"
Some feedback while reviewing lesson 00: Before we start:

"Installing additional packages under the packages tab" might be a less-than-straightforward way to introduce new students to installing packages in R. Why not introduce the install.packages(" ") function as the major lesson objective (instead of as the side note)?

I do see that install.packages("") is located under "Installing additional

[2018-11-04 17:12] rkclement opened #88 "Add reference to Excel/Google Sheets in explaining data frames?"
When teaching about data frames/tibbles to R novices, I often make reference to Excel/Google Sheets, which many users are familiar with. I find this helps to connect an ambiguous concept (the "data frame") to one the learner already knows (the "Excel spreadsheet"). It also helps highlight the differences (e.g. you can only have one type of data in a data frame column, while an Excel/Google sheet c

[2019-01-11 16:12] brownsarahm opened #93 "creating a variable with the same name as a column name"
it's a little confusing to create a variable with the same name as a column name of the dataset that we will work with.

in the [intro to R](https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html) episode it creates a `no_membrs` variabe

[2019-02-04 19:13] juanfung commented on #71
Resolved by #72 and #95

[2019-02-04 19:13] #71 closed

[2019-02-04 19:49] juanfung commented on #65
Agreed this discussion could be improved. Perhaps an abridged version of the discussion here: https://swcarpentry.github.io/r-novice-inflammation/13-supp-data-structures/, with a link to the complete discussion there?

Maybe mentioning the atomic vector types (character, numeric, etc.) plus some of the many "data structures" (list, data frame, etc.) would help clarify?

@ErinBecker I'm tagging you

[2019-02-04 19:56] juanfung commented on #67
I like this suggestion, however, will need feedback since it's adding a new concept to lesson, even if minimal

[2019-02-04 20:09] juanfung commented on #77
Closing as it's duplicate of #78

[2019-02-04 20:09] #77 closed

[2019-02-04 20:21] juanfung commented on #78
I think we can close this, since the exercise clearly uses the comma. But before closing, one idea is to wrap the expression in parentheses:
[code]

[2019-02-05 19:15] juanfung commented on #79
The current version of the "Starting with Data" episode has a complete solution for this exercise:
[code]
is the only line needed. It's unnecessary to re-assign "undetermined" to the `NA` values.

[2019-02-05 19:15] #79 closed

[2019-02-05 19:24] juanfung commented on #83
Personally, I feel this would be unnecessary. R does not use "nominal" for categorical data, nor am I aware of other languages that do. I think "factors" is important because the Factor class is specific to R. Most people understand what categorical data is. I don't know that a third term would help clarify things and may just lead to more confusion.

As for ordinal data, R does have ordinal facto

[2019-02-05 19:30] juanfung commented on #93
This is a good point, especially since the vector may then remain forgotten in a user's workspace. This can create problems when referencing the column by name!

[2019-02-06 16:18] martinolmos opened #96 "Translate to Spanish"
Hi,

Are there any plans to translate this lesson to Spanish. If so, I would love to collaborate.

Best regards,

[2019-02-06 17:17] fmichonneau commented on #96
There are no plans to translate this lesson in Spanish yet. It would be a welcome addition.

@orchid00 @raynamharris do you know if other people would be interested to help? (and if so, let me know before you start the translation work as we might test a different way of coordinating the translations).

[2019-02-06 18:59] juanfung commented on #84
Good point. This is true even outside of RStudio (eg, in the R interpreter). However, the info in red is not rendered in the lesson.

Perhaps just clarifying that the assignment creates a data frame but the user will not see the data frame (though they may see informational text about the data frame) ?

[2019-02-08 14:36] expersso opened #99 "Use labs() instead of xlab(), ylab(), ggtitle()"
## Issue

In Session 5 *Data visualisation with ggplot2*, section *Adding Labels and Titles* labels are introduced using the `xlab`, `ylab`, and `ggtitle` functions:

[code]

This format is then used for a number of examples, before switching over to the `labs(x = ..., y = ..., title = ...)` format:

[code]

This switch doesn't appear to be explained anywhere, which could be confusing.

## Suggest

[2019-02-13 16:33] martinolmos opened #101 "RStudio screenshot divided into three panels"
The Before We Start > Getting set up > Last paragraph says “RStudio is divided into four panes…”. However, the screenshot shows only three panes.

[2019-02-18 20:50] raynamharris commented on #96
I'm not aware of any interest yet, but I'm +1 for testing a new way to coordinate translations.

[2019-02-25 15:27] juanfung commented on #101
Good catch!

[2019-02-25 15:27] #101 closed

[2019-02-25 15:31] juanfung commented on #99
Agreed! Addressed by 29a8c29

[2019-02-25 15:31] #99 closed

[2019-03-04 03:24] orchid00 commented on #96
I might say, @martinolmos @fmichonneau @raynamharris there's always interest.
If anyone starts up a task on the slack channel, carpentries-es, I think volunteers will just come up

[2019-03-08 18:11] martinolmos commented on #96
Ok! I'll do just that. How many volunteers do you think we need to start this project?

[2019-03-09 09:03] fmichonneau commented on #96
please let me know before you start translating. We want to try out some dedicated tool to coordinate the translation. Thanks!

[2019-03-12 09:37] orchid00 commented on #96
YEs @martinolmos please keep @fmichonneau in the loop he is the Carpentries Development lead and he has been a key contact while doing other translations, more info here: https://github.com/Carpentries-ES/board
From my experience having 10 to 15 people for a lesson translations is a good number, but we pretty much did everything manually. I'm not sure about the new tool, which I would be happy to

[2019-03-20 00:53] colinquirk opened #104 "Replace gather/spread with pivot functions"
Gather and spread are going to be phased out in favor of the new pivot functions:
https://twitter.com/hadleywickham/status/1108120330365751298
https://tidyr.tidyverse.org/dev/articles/pivot.html

IMO, gather/spread have always left a lot to be desired and the pivot functions seem to be good replacements. They aren't stable yet, but it's worth thinking about as according to Hadley gather and spread

[2019-04-05 22:03] sjopierce commented on #65
It seems that this define the different vector data types but it’s sequenced to be discussed after the examples showing how to use functions to assign parameters to vectors and inspect the content. These definitions are essential concepts to be familiar with to understand what’s going on in the examples presented. I would move this up in the episode sequence so it’s discussed right after introduci

[2019-04-16 21:43] fmichonneau opened #109 "June 2019 Lesson Release checklist"
If your Maintainer team has decided not to participate in the [June 2019 lesson release](https://carpentries.topicbox.com/groups/maintainers/T61c75ac1a8a89538/timeline-and-process-for-june-lesson-release), please close this issue.

To have this lesson included in the 18 June 2019 release, please confirm that the following items are true:

- [x] Example code chunks run as expected
- [x] Challenges

[2019-04-28 17:57] eauer22 commented on #87
I think it would also be helpful to include a few lines in this section about loading the libraries since that seems to only be briefly mentioned two lessons later in the starting with data lesson. Including this would help demonstrate the full package installation and use workflow. For example, we might add:

"After installing a package, use the `library()` function to load it for use. For exampl

[2019-04-29 23:34] cwickham opened #110 "Subsetting a tibble with `[` always gives a tibble"
In the "Indexing and subsetting data frames" section of the "Starting with Data"
episode, the examples are preceeded by the statement:

However, since `interviews` is a tibble this isn't true, every example returns a tibble:
[code]

So, at the very least the code comments on each line are misleading.  The statement and comments could be removed, but it feels like this behaviour needs addressing so

[2019-05-06 15:35] juanfung opened #112 "Markdown links not rendered in figcaption Episode 00"
The following code snippet from episode 00 ("Before We Start") is enclosed in a `<figcaption>` block and does not render as links:
[code]

[2019-05-08 15:28] juanfung commented on #110
I was about to open an issue on this! The easiest thing to do is remove "(as a vector)" comments, but agree that it's an issue that needs clarification.

The "tidy" way to subset a tibble as a vector is `interviews %>% pull(7) %>% head(3)` (or you can `splice` before you `pull`, but this seems unnecessarily cumbersome at this stage in the lesson.

[2019-05-09 19:49] juanfung commented on #109
@francois Everything should be okay now, except for a few exercises:

- Episode 3: "What was the largest household interviewed in each month?" produces an error, should be fixed by 6cab6a8934d51f82cd27b349175f41361130f549
- Episode 3: the exercises under the "Applying spread() to clean our data" aren't rendering correctly, but the problems appear to be fixed in the rmd files

Also, there's an issu

[2019-05-13 18:30] ErinBecker commented on #109
Thanks for the update @juanfung. Later this week, we'll be putting out a blog post and some tweets calling for contributions to lessons that are preparing for publication. We'll be directing contributors towards issues that are grouped in the "June 2019 Milestone". Could you please tag any issues that you'd like contributions towards as part of that milestone? Thanks much and let me and @fmichonne

[2019-05-15 18:12] #93 closed

[2019-05-16 09:54] fmichonneau opened #116 "Use of travis to build and deploy the lesson website"
I've enabled travis CI to build and deploy the lesson website for this repository. Because of this change, the new default branch for the repository isn't `gh-pages` but `master`. `gh-pages` is now only used to push the built website by Travis. Any manual modification to `gh-pages` will be deleted during the next build.

Make sure that you create pull requests against `master` from now on.

Let me

[2019-05-23 22:06] #84 closed

[2019-05-24 10:59] juanfung commented on #116
Thanks @fmichonneau !

[2019-05-24 20:58] evebohnett opened #117 "exercise has a wording mistake"
Introducing dplyr and tidyr

In one of the exercises it asks for whether each interview respondent was lacking water in that month. However, the dataset has a column for lacking food. So the exercise needs to be updated for lack of food, not water.

[2019-05-31 18:45] jmjamison opened #119 "More suggestion than an issue"
This is really small but I think it would be helpful to include the key combination to clear the R-Studio console: Cntl-L

[2019-06-03 22:52] ErinBecker commented on #109
Hey @juanfung - just checking in to see if you're still planning on joining the release this month. We're asking that all lessons have completed the checklist by [Tuesday, 4 June, Anywhere on Earth time] (https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190604T235959&p1=3399) in order to be included in the release. Please let me and @fmichonneau know if you have any questions or are run

[2019-06-04 12:24] juanfung commented on #109
Hi @ErinBecker I just looked over the two errors I mentioned above and the second one is still producing an error. I will try to fix it as soon as I have a chance (or maybe @angela-li could take a look!). Once that's resolved, the lesson should be ready for release!

[2019-06-04 18:33] juanfung commented on #109
@erin and @francois: I pushed a commit that should take care of the issue above

Once this update is rendered, we should be good to go.

I'll wait to confirm it's rendered correctly before checking off the last item on the release checklist

[2019-06-04 18:47] juanfung commented on #109
This lesson is ready!

[2019-06-04 19:58] angela-li commented on #109
Looks great Juan, thanks for taking care of this!

[2019-06-11 23:08] ErinBecker commented on #109
Awesome work @juanfung @angela-li and everyone else who contributed! This is just a quick message confirming that this lesson will be included in the release that @fmichonneau and I are preparing this week. The release is scheduled to go through on the 18th and to be announced to the community on the 24th. Please let us know if you have any questions! And congratulations again!

[2019-06-12 16:48] angela-li commented on #117
Thank you for bringing this to our attention! @juanfung has fixed it (see changes in commit 9c69f1c283aa99eb01a1a129862ec556f5ec2808)

[2019-06-12 16:48] #117 closed

[2019-06-14 04:18] shawnjanzen commented on #83
This might be a rather easy fix.  The second paragraph under the [Factors section](https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html) states,
<blockquote>Factors represent categorical data. They are stored as integers associated with labels and they can be ordered or unordered. While factors look (and often behave) like character vectors, they are actually treated as integer v

[2019-06-19 18:41] walecain opened #121 "Explaining the difference between readr and tidverse packages"
I agree with the idea of being more intentional about clarification of installing packages and providing greater clarity about packages, in general, that was being discussed in the "Installing packages" issue(#87).  For example, in "Starting with Data," learners are called upon to use the read_csv function from readr package, but all the actions in the lesson tell them they are in tidyverse packag

[2019-07-02 08:00] fmichonneau commented on #109
lesson released! :tada: https://doi.org/10.5281/zenodo.3265729 Thank you all for your work on this!

[2019-07-02 08:00] #109 closed

[2019-07-09 17:48] cengel opened #122 "non unique keyID in `SAFI_clean.csv`"
This is not causing any issues with the materials/code, but may lead to questions: the following `keyID`s are used twice in the interview table:
- 1 (2 is missing)
- 21

[2019-07-09 21:31] cengel opened #123 "use separate_rows() instead of strsplit()"
Suggestion: In episode **Introducing `dplyr` and `tidyr`** - subsection **Applying `spread()` to clean our data** use `separate_rows()` instead of `strsplit()` which eliminates the need to introduce `unnest()` and might be preferable for the beginner.

Instead of:
[code]
Use this:
[code]

[2019-07-11 14:39] angela-li commented on #123
This is a good point - `separate_rows()` is both more concise and easier for a learner to grasp than `unnest()`. I think is also a better workflow than `mutate() %>% unnest()` in general.

[2019-07-11 15:07] angela-li commented on #123
I made an update with the change (note: the `key` in `spread()` also needed to be changed). Will have @juanfung review and merge if it looks good!

[2019-07-24 15:20] angela-li opened #125 "Include graphics to visually illustrate the concepts of spread/gather"
It would be useful to include in the Figures / lesson a visual representation of spread/gather (or pivot longer/pivot wider) so that learners could create a mental model of how reshaping works

[2019-07-24 20:32] ErinBecker commented on #125
Great idea @angela-li! The DC Ecology R lesson has a figure for this that you could use or adapt. I don't remember if it uses the variable names that are for the data in that lesson or not . . .

[2019-08-07 17:22] #123 closed

[2019-08-25 01:35] johnnydubois13 opened #127 "reading in 1 csv vs multiple csv"
In 03-Starting with Data, the motivating question is "How can I read a complete csv file into R?". This is obviously a critical thing to learn, but I often find myself wanting to read in an entire folder of csv files (where each subject has their own csv). This is definitely more complicated than a single read.csv or read_csv call, but is it maybe worth mentioning, or including as an example in la

[2019-09-17 21:05] bryanhong8 commented on #125
I think this would also be helpful to learners @angela-li & @ErinBecker! I was trying to adapt the figure from the DC Ecology R lesson (which uses the variable names from the data in that lesson), but was there were a few things that I ran into that might lead to difficulties in understanding the figure. The DC lesson uses an intermediary data frame with all the transformations already done prior

[2019-09-27 06:41] ErinBecker commented on #125
Thanks for this suggestion @bryanhong8. I haven't been actively involved in the development on this lesson for the past year or so, so I'll let @angela-li and @juanfung take the lead on directing effort here. 🙂

[2019-09-30 07:46] pkiraly opened #129 "Capitalization of lesson episodes needs to be fixed"
The lettercase in the titles of the episodes are not fully synchronized:

- Before we Start
- Starting with Data
- Data visualisation with ggplot2

Either we should change visualisation to Visualisation or Start to start and Data to data. For me the small case seems better. This pull request is only about the first uppercase->smallcase transformation.

[2019-09-30 15:49] pkiraly commented on #119
@jmjamison

How about this sentence?

[2019-09-30 15:54] pkiraly commented on #119
I've created a pull request for this ticket: #131

[2019-10-01 04:19] symulation opened #132 "631 in long format rather than 131"
"In this long format version, there are 131 rows (one row for each unique item for each respondent)."

Should say

"In this long format version, there are 631 rows (one row for each unique item for each respondent)."

[2019-10-01 20:52] #78 closed

[2019-10-01 21:02] angela-li commented on #127
Thanks for the idea! I'm not sure it fits into the scope of the lesson as it stands, but you make a great point that it's important for researchers to bulk-read csvs - I myself have had to do that many a time! Since we're just working with one dataset in the workshop, I think it makes sense to limit what we include in the curriculum to what will be immediately useful in the workshop, as there's al

[2019-10-01 21:21] angela-li opened #133 "Provide intermediate dataset interviews_plotting for learners"
As the lesson stands, you can only do the ggplot2 section if you have a tidied version of the dataset (ie. complete the tidyr section before). Occasionally learners fall behind and are unable to tidy everything before moving on to the next section, then are not set up for the ggplot2 part.

I propose providing a link for learners to download the intermediate data if they get lost in the tidyr part

[2019-10-01 23:55] johnnydubois13 commented on #127
That's a good point. Upon more reflection it is probably a better idea for the lesson to go from simple to complex.

I recently started using purrr, but I have also tried writing my own very basic function, or gone the apply route. Can't say I have a consistent favourite.

[2019-10-03 01:23] angela-li commented on #127
Nice! Yes, I was a big apply user before I realized purrr had the same functionality. I'm closing this issue for now, but thanks for the idea. Good luck teaching this workshop, and please report anything you find from teaching it.

[2019-10-03 01:23] #127 closed

[2019-10-03 01:26] angela-li commented on #129
Great point! Check out the Carpentries Style Guide for reference: https://docs.carpentries.org/topic_folders/communications/resources/style-guide.html#c. Looks like we want all lesson titles and episode names to be capitalized (and use British English, so *capitalised). I think this would make a good first PR, so leaving it open for now...

[2019-10-03 01:27] angela-li commented on #132
Thanks! Do you feel able to submit a PR regarding this? If not, I can go ahead and troubleshoot this.

[2019-10-03 01:31] #112 closed

[2019-10-03 01:33] angela-li commented on #122
Will resubmit dataset to FigShare and fix links - I also ran into this confusion during a workshop recently!

[2019-10-04 12:48] katrinleinweber commented on #104
They are even being [demoted](https://www.tidyverse.org/lifecycle/#retired) :-/

[![grafik](https://user-images.githubusercontent.com/9948149/66208445-5cafb980-e6b5-11e9-87e1-fd10dd35f4b0.png)](https://github.com/tidyverse/tidyr/blame/492ea30113da6d4b4072e73dd5c70ef2cfd9cbc6/R/gather.R#L4-L8)

This might be awkward in a workshop when instructors show `?gather`.

[2019-10-04 13:13] katrinleinweber commented on #125
[tidyr published their .key source files](https://github.com/tidyverse/tidyr/tree/master/vignettes), which might be helpful when implementing this + #104.

[2019-10-06 10:07] dpshelio opened #134 "topic for the repository"
Please, consider adding a `lesson` topic to the repository. To do so you can [follow the help about how to add topics to the repository](https://help.github.com/en/articles/classifying-your-repository-with-topics). Check out the topics that the [Genomics R intro lesson](https://github.com/datacarpentry/genomics-r-intro) has gotten to add others that may be relevant to this lesson.

This will help

[2019-10-08 20:37] maczokni commented on #125
Hiya!
I've made a similar image before for my summer school material, so I've used that to try to re-create the ecology r lesson one, hope it's what you were after?

[2019-10-10 05:49] fmichonneau commented on #134
Adding GitHub Topics is not within the scope of the GitHub permissions for Maintainers. We are coordinating an effort to standardize GitHub Topics across all our repositories. We are seeking input and feedback from Maintainers on the list of proposed topics. Please see the Request For Comments (RFC) in this GitHub issue: https://github.com/carpentries/maintainer-RFCs/issues/5

[2019-10-10 05:49] #134 closed

[2019-10-11 13:52] juanfung commented on #125
Thanks @maczokni ! I've merged your PR. @angela-li @bryanhong8 does this look good to you guys?

[2019-10-11 13:52] juanfung commented on #133
This is a great idea @angela-li !

[2019-10-13 21:50] colinquirk opened #138 "Fix inline r code in dplyr section"
Good first issue?

In the dplyr episode (episode 03), there is a line that says

which should read

It is currently messed up due to a new line in the inline code:
https://github.com/datacarpentry/r-socialsci/blob/856ec2b513303d068931c056aebc6669c135dc18/_episodes_rmd/03-dplyr-tidyr.Rmd#L570

[2019-10-13 21:57] colinquirk opened #139 "Multiple exercises have incorrect number labels"
Multiple exercises have incorrect number labels due to failings of markdown formatting.

See here:
https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html

ctrl+f "How many households in the survey"

[2019-10-14 09:50] pkiraly commented on #116
Dear @fmichonneau and @angela-li,

The contribution guide (https://github.com/datacarpentry/r-socialsci/blob/gh-pages/CONTRIBUTING.md) describes it differently

"The published copy of the lesson is in the gh-pages branch of the repository (so that GitHub will regenerate it automatically). Please create all branches from that, and merge the master repository's gh-pages branch into your gh-pages bra

[2019-10-14 12:06] fmichonneau commented on #116
@pkiraly thanks for bringing this up! Would you be willing/able to submit a pull request with the needed change?

[2019-10-14 12:18] pkiraly commented on #116
@fmichonneau

I did, see #142.

[2019-10-14 21:49] #129 closed

[2019-10-14 21:50] angela-li commented on #119
I edited the sentence a bit, but great teamwork in identifying and tackling this issue @jmjamison and @pkiraly! People are always asking this during workshops, so this is good to add.

[2019-10-16 17:36] maczokni commented on #80
OK so I started to work on an JSON in R lesson as per the first point here, I have a bare basics one ready. I will submit it now in a PR and then people can have a look and add to it/ give some feedback?

I started to base it on the Python lesson (in fact the general info about JSON is all from there) but then I found the exercises hard to translate, so instead I included some examples from my usa

[2019-10-17 14:52] colinquirk commented on #122
Some KeyIDs are also missing, e.g. 183.

[2019-10-17 20:22] angela-li opened #144 "Include how to count number of NAs in missing values section"
It would be great to include `sum(is.na(rooms))` after showing `is.na()`. We receive questions about how to count the number of missing values in a vector.

[2019-10-18 03:50] angela-li opened #145 "`count()` section is missing a sentence"
This should say "to get results in decreasing order" I believe! https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html#counting

[2019-10-18 18:39] #145 closed

[2019-10-18 19:01] angela-li opened #148 "Fix "Improve this Page" links at tops of pages"
Will need to pull in updates from lesson template, so new PRs come in on master, and not gh-pages (change in #116)

[2019-10-18 19:04] angela-li opened #149 "Calling all instructors: Update our instructor notes!"
Have you taught this lesson? One way you can help us improve it is by filing issues here about typos you've discovered, but you can also help us fill out the [instructor notes](https://datacarpentry.org/r-socialsci/guide/index.html)!

- What did you find difficult?
- Where was it too fast?
- What exercises could be improved?
- What did learners struggle with?
- What did you emphasize? What did you

[2019-10-23 15:35] #119 closed

[2019-10-26 09:16] ydai09 opened #153 "Subsetting vectors and data frames"
(1) The discussion of subsetting vectors or data frames could be enhanced with giving typical “scenarios” of application, in addition to examples. This would let the audience know “when” to subset a data frame in addition to “how”.

For instance, "interviews[, -1]  # The whole data frame, except the first column" is an example; "working on a subsample" is a scenario. Or, in another scenario, the c

[2019-11-01 14:19] fmichonneau commented on #148
The instructions to update to the latest version of the template.

This assumes that `upstream` is set to the "official" repository for this lesson and `origin` is your fork.

[code]

Go to GitHub and open a pull request from your fork using the update-styles branch.

[2019-12-10 00:32] benbossc opened #159 "Nonexistent data frame column ("split_items")"
[code]
1) In "Introducing dplyr and tidyr," specifically code related to "Applying spread() to clean our data" (see above), the notes mention that implementing spread() switches from long format to wide format, creating "a new column for each of the unique values in the **split_items** column and fills those columns with TRUE or FALSE." **Split_items** is not an actual new column but refers to uni

[2019-12-30 00:28] MonkmanMH commented on #104
Hi, I have submitted a pull request re: this issue:
https://github.com/datacarpentry/r-socialsci/pull/163

[2020-01-13 20:03] maneesha opened #164 "Conflicting or missing versions of R requirements noted"
On [this page](https://datacarpentry.org/r-socialsci/setup.html) it notes that you should have at least  R 3.3.1.

However on [this page](https://datacarpentry.org/socialsci-workshop/setup-r-workshop.html) it notes that you should have R 3.5.1.

Also, in both cases, it is only in the Linux instructions that a minimum R version is specified at all.

[2020-01-13 20:07] maneesha opened #165 "Conflicting instructions on what packages to install"
On [this page](https://datacarpentry.org/socialsci-workshop/setup-r-workshop.html) Linux users are instructed to install the `tidyverse` and `SQLite` packages.  Mac and Windows users are not instructed to install any packages.

On [this page](https://datacarpentry.org/r-socialsci/setup.html) *all* users are instructed to install `tidyverse` only.

[2020-01-15 18:39] maneesha opened #176 ""Improve this page" takes you to .md (not .rmd) editing page"
Clicking on "Improve this page" from a lesson page takes you to the generated .md file, not the .rmd file that is supposed to be edited.  Since the .rmd file is the one that's supposed to be edited, this should take  you to the .rmd file instead.  This way users won't accidentally edit the .md file instead (as I just did a couple of times! :disappointed: )

@fmichonneau  This may be an issue for t

[2020-01-16 13:44] fmichonneau commented on #176
this will be fixed once #154 is merged.

[2020-01-16 17:25] maneesha opened #179 "ggplot graphs show proportions, not percents"
In the ggplot lesson, we teach how to generate a bar chart showing proportion of residents who are part of an irrigation association, own certain items, etc.

The output graphics show the y-axis labels showing percents, but they actually show proportions.  For example, the y-ticks are 0.2, 0.4, 0.6, etc.  To show percents, it should be 20%, 40%, 60%, etc.  I would suggest changing the y-axis label

[2020-01-21 15:57] maneesha opened #185 "Define "overplotting""
The lesson notes:

I didn't know what overplotting meant when I first read this lesson.  It may be useful to note that this means that overlapping points become invisible, and that adding transparency starts to address this problem as overlapping dots become darker.

[2020-01-22 17:01] kerstinlenk opened #186 "Suggestions for "R and RStudio setup page""
Hi,

On the R and RStudio setup page (https://datacarpentry.org/r-socialsci/setup.html), I would suggest to
- add a sentence about the tidyverse package at the beginning of the page. For example: The tidyverse package is a powerful collection of data science tools within R (https://tidyverse.tidyverse.org).
- add an "or" between the two bullet points in the section "If you already have R and RStud

[2020-01-23 16:17] maneesha opened #188 ""Guide" section does not refer to a specific version of R"
In the [Guide](https://datacarpentry.org/r-socialsci/guide/) section, there is information on troubleshooting multiple R installs.

It says:

I'm guessing this should be replaced with the actual version of R required for this lesson.  Note that [other documentation](https://github.com/datacarpentry/r-socialsci/issues/164) has conflicting information about what version of R to use.

[2020-01-23 16:19] maneesha opened #189 "Is this lesson in beta?"
The [Data Carpentry lessons page](https://datacarpentry.org/lessons/) lists this lesson among the standard offerings, and does not say it is in a beta or pilot phase.

However, there is an overlay on each Social Science lesson page that notes it is piloted / in beta.

See example:
![image](https://user-images.githubusercontent.com/829690/73002520-32a01580-3dd2-11ea-9ee7-5929eea3117f.png)

[2020-02-04 10:52] fmichonneau commented on #189
yes the social science curriculum is in beta (and the python and SQL lessons are still in alpha). We can reconsider this but I think that in the past we only listed lessons that are in alpha (and pre-alpha) under "lessons under development and consideration" on the lesson page.

[2020-02-10 17:05] ha0ye commented on #110
I think clarification is super-important. Learners will go on to use other resources, which may use non-tibble data.frames as examples, which can lead to confusion / errors. (not to mention how usage of `$` and `[` varies, as well!)

[2020-02-10 17:11] ha0ye commented on #74
I think it would help to expand and/or modify the examples to have vectors of different length on either side of the `%in%` operator. This can help clarify that the operator is checking *each* individual item in the vector on the left hand side, and so the length of the output matches the length of the LHS vector. (and this is a necessary distinction for subsetting)

[2020-02-10 17:19] ha0ye opened #191 "Dealing with missing values in `tidyr::pivot_wider()` example."
In the dplyr-tidyr episode, the list-column `items_owned` is split into separate rows, whose values are then `tidyr::spread()` into separate columns. There are some instances where `items_owned` has length 0, which yields a `NA` value, and a corresponding `<NA>` column.

In the described workflow, this is handled by renaming the column after spreading:
[code]

Personally, I think a better workflow

[2020-02-10 17:33] ha0ye commented on #191
Ah, I see this will cause issues with the rowSum calculation later on that assumes that the <NA> column is past the columns with the individual item names... 🤔

I'll think about a good way to address this.

[2020-02-10 17:50] ha0ye commented on #191
I think I lean towards extracting out the vector of item names and month names for the `rowSums` calculation later. This seems a bit less brittle than trying to specify the set of columns directly within `select` by using `one_of` instead.

[2020-02-10 17:53] ha0ye commented on #125
@gadenbuie also has a few animations up at https://www.garrickadenbuie.com/project/tidyexplain/

[2020-02-10 18:03] ha0ye opened #192 "Add `ungroup` in dplyr-tidyr episode"
In the dplyr-tidyr episode, the result from the second group_by / summarize is still grouped:

[code]

[code]

This would be a good spot to remind folks to always add `dplyr::ungroup()` after a `group_by` / `summarize` to avoid issues later.

[2020-02-11 02:31] ha0ye opened #193 "Compute item proportions using `summarize_at()`"
In the ggplot episode, the code computes the fraction of observations, in each village, that own item X, for each of the unique items that are listed. The listen currently does this by doing a count for each item x village combination, and then dividing by the number of observations in each village (using `case_when()` with some magic numbers).

current code:
[code]

I think this can be done a bit

[2020-02-11 16:57] #148 closed

[2020-02-11 16:58] angela-li commented on #176
Just merged #154, thanks all for your patience! Busy last few months...

[2020-02-11 16:58] #176 closed

[2020-02-24 19:37] tautme opened #196 "Typo in 00-intro.md"
In the "Before We Start" section here:

` r-socialsci/_episodes/00-intro.md `

(IDE) is defined as "Integrated Development Interface" instead of "Integrated Development Environment"

[2020-03-06 14:25] angela-li commented on #196
Thanks for noticing this, @tautme! Now fixed.

[2020-03-06 14:25] #196 closed

[2020-04-14 16:52] juanfung commented on #104
Resolved by #163

[2020-04-14 16:52] #104 closed

[2020-04-14 16:53] juanfung commented on #125
This has been resolved (and images have been updated #163)

[2020-04-14 16:53] #125 closed

[2020-04-14 17:21] juanfung commented on #132
Resolved in #163

[2020-04-14 17:21] #132 closed

[2020-04-14 17:22] juanfung commented on #138
Fixed #163

[2020-04-14 17:22] #138 closed

[2020-04-14 17:46] juanfung commented on #189
Closing this

[2020-04-14 17:46] #189 closed

[2020-04-14 17:49] #83 closed

[2020-04-14 17:50] #88 closed

[2020-04-14 17:50] #121 closed

[2020-04-21 14:15] juanfung commented on #179
Resolved by #198

[2020-04-21 14:15] #179 closed

[2020-04-21 14:28] juanfung commented on #186
Thanks @kerstinlenk ! ec0c8b4b addresses your first point. As to your second point if I understand correctly the instructions are for updating RStudio and R separately. I don't believe RStudio updates R? Closing for now but please let me know if you want to reopen.

[2020-04-21 14:28] #186 closed

[2020-04-21 14:32] juanfung commented on #165
@maneesha Good point. We don't use `SQLite` in the R lesson. But it looks like the first link you posted is for the larger social science workshop page.  Please open this issue there: https://github.com/datacarpentry/socialsci-workshop/issues

[2020-04-21 14:32] #165 closed

[2020-04-21 14:36] kerstinlenk commented on #186
Thanks @juanfung ! My comment referred to something else but as it seems it is already solved :)

[2020-04-21 14:37] juanfung commented on #186
Perfect!

[2020-04-22 15:00] juanfung commented on #192
@ha0ye  Good call! Resolved by #192

[2020-04-22 15:00] #192 closed

[2020-04-22 15:03] juanfung commented on #185
@maneesha Good call!

[2020-04-22 15:03] #185 closed

[2020-04-22 15:09] juanfung commented on #139
Resolved by #139. Easiest solution was to remove list numbers, they seem unnecessary.

[2020-04-22 15:09] #139 closed

[2020-04-24 20:22] timcashion opened #202 "Broken link to data in JSON lesson"
In the opening paragraphs of the JSON Lesson, the link to the datafile is broken:

<img width="1188" alt="Screen Shot 2020-04-24 at 1 12 07 PM" src="https://user-images.githubusercontent.com/20193108/80253315-e1502e00-862d-11ea-93be-d390b357f58d.png">

Data file missing is SAFI.json.

Lesson link: https://datacarpentry.org/r-socialsci/0x-json/index.html

Data expected to be found in 'r-socialsci/d

[2020-04-27 16:45] fmichonneau commented on #202
fixed with a93e728

[2020-04-27 16:45] #202 closed

[2020-04-28 13:03] juanfung commented on #188
@maneesha Thank you for opening this and #164. This is an important issue.

Labeling this help wanted for now. It would be great if someone could go through the lesson and double check what the minimum version of R is required. Note that per #104, the minimum `tidyr` is 1.0.0. Not sure if that matters for backward compatibility.

[2020-04-28 13:07] juanfung commented on #164
I'm combining #188 and #164:
---
@maneesha commented on Jan 23

In the [Guide](https://datacarpentry.org/r-socialsci/guide/) section, there is information on troubleshooting multiple R installs.

It says:

I'm guessing this should be replaced with the actual version of R required for this lesson.  Note that [other documentation](https://github.com/datacarpentry/r-socialsci/issues/164) has conflict

[2020-04-28 13:08] juanfung commented on #188
See #164

[2020-04-28 13:08] #188 closed

[2020-04-28 13:08] juanfung commented on #164
@maneesha Thank you for opening this important issue.

Labeling this help wanted for now. It would be great if someone could go through the lesson and double check what the minimum version of R is required. Note that per #104, the minimum `tidyr` is 1.0.0. Not sure if that matters for backward compatibility.

[2020-05-04 09:01] laurabotzet commented on #164
I went through the lesson and double checked all packages for their R version requirement.

tidyverse (readr, tidyr, dplyr, ggplot2, jsonlite): R (>= 3.2)
lintr: R (>= 3.2)
lubridate: R (>= 3.2)
extrafont: R (>= 2.15)

The current version of tidyr (1.0.2) depends on R (>= 3.1).

Therefor, I would say that the minimum version of R for this lesson is currently 3.2.

[2020-05-04 13:13] juanfung commented on #164
@laurabotzet Awesome! Thank you for getting to the bottom of this. Do you want to submit a PR to update this? If not I can take care of it tmw. Thanks!!

[2020-05-05 18:26] juanfung commented on #164
@maneesha The guide and setup files have been updated. Not sure if you've already opened an issue about this on the workshop page, but closing this as resolved.

[2020-05-05 18:26] #164 closed

[2020-05-12 13:45] juanfung commented on #159
@benbossc Thank you for pointing this out! It looks like this was fixed in #104. The text now reads

[2020-05-12 13:45] #159 closed

[2020-05-12 14:12] #87 closed

[2020-06-24 17:36] atheobold commented on #193
@ha0ye I really appreciate your suggestion! I also would like to see the lesson move away from the use of hard-coded numbers, from a reproducibility standpoint. The current Data Wrangling lesson does not cover the `case_when()` function, but the `summarise()` function is included! Thus, I feel that teaching about the `summarize_at()` function as an extension to the `summarize()` function may lose

[2020-06-25 15:10] vguetler opened #209 "Explain data frames first"
---

The Starting with Data lesson objectives does not align with the lesson structure. It would be beneficial, to begin with explaining what data frames and tibbles are first before requiring learners to start loading the SAFI dataset.

[2020-07-02 14:18] juanfung commented on #209
@vguetler This is a good point. I labeled this for discussion since it would entail a non-trivial revision of the lesson.

My suggestion would be to move the entire "Presentation of the SAFI Data" to right after the introduction of tibbles under "What are data frames and tibbles." But I'm not sure if there is a better way to do this.

[2020-07-02 16:14] vguetler commented on #209
@juanfung agreed. Beginning with "what are data frames and tibbles" first and then the explanation of the dataset before loading into R would be a great idea.

[2020-07-10 18:30] #209 closed

[2020-07-12 02:25] roblevenson opened #217 "Clarifying "Introducing dplyr and tidyr" episode"
Two comments:

1) The beginning of the episode on dplyr and tidyr repeats information about R packages that is also at the end of the “before we start” episode. I suggest removing the repetitive material from the dplyr episode.

2) The section on long and wide data structures does not provide an explicit introduction to long and wide data formats, but instead refers to a separate lesson. This sect

[2020-07-12 19:11] atheobold commented on #144
This addition has been integrated!

[2020-07-12 19:11] #144 closed

[2020-07-12 20:43] #110 closed

[2020-07-12 20:43] #153 closed

[2020-07-15 17:08] juanfung commented on #217
@roblevenson Thank you for the suggestions. These are great points, especially point 1, which I think I can easily fix.

Would you like to submit a PR that addresses point 2? If not, no worries. I can chat with the other maintainers about the best way to address this.

[2020-07-27 17:05] zkamvar opened #222 "RFC: Migration to R 4.0"
During the June Maintainer meeting, we asked for comments and experiences with the migration to R 4.0 so that we could create guidance for maintainers and instructors. We have drafted a short blog post (https://github.com/carpentries/carpentries.org/pull/830) to be released next week (2020-08-03) that describes our recommendations for migration. You can find a [preview of the blog post here](https

[2020-07-30 15:35] atheobold commented on #222
@zkamvar I feel that many researchers, social science or otherwise, frequently work with categorical data. Thus, teaching different ways to work with categorical data should be of utmost importance in our curriculum, and should not relegated to supplementary material. While the default `stringsAsFactors = TRUE` was an easy way to introduce factors, I don't believe that this default provided a mean

[2020-07-30 17:35] zkamvar commented on #222
Thank you @atheobold for your input. Having dealt with categorical data in the past as both an R user and package author, I heartily agree with your statements. From what I can see, the r-socialsci lesson is not impacted by this change because it uses modern standards for reading in data with `{readr}`.

Would you be willing to add some suggestions to https://github.com/carpentries/carpentries.org

[2020-07-30 19:20] maneesha opened #223 "Delorean reference may not be globally accessible"
In the R intro lesson, there is a metaphor that compares R and R Studio to an ordinary Delorean and the Delorean time machine.  While it's a clever reference for those who may understand it, it is referencing an American movie that is over 30 years old.  This may not be understandable and accessible to a global audience.  I am opening this up for discussion; I'm curious to know what other people t

[2020-07-30 20:02] atheobold commented on #222
@zkamvar I'd be happy to contribute, but I'm not quite sure what you are looking for. Would you like me to add these motivation to the Lesson Content section? Do you feel that the DC Starting with Data lesson can be linked to as an example of how to introduce factors?

[2020-07-30 20:13] atheobold commented on #223
Thanks for the suggestion @maneesha! Honestly, I didn't know that the car was a Delorean, which I think reiterates your point. Based on the pictures, it seems that the lesson is intending to covey the message that (1) R is fast, and (2) RStudio has lots of cool extras for working in R. Maybe we could covert this message to be more modern with the use of a car familiar to most people? I'm not a car

[2020-07-30 20:44] zkamvar commented on #222
I was thinking that your perspective was useful for maintainers who have to update their repositories, so adding a "for example" or "by the way" as a motivator for other maintainers would be helpful. Don't feel pressure to do so by any means, though. Also, if you do decide to contribute, you should add your name to the authors list (in alphabetical order). You can use GitHub's line commenting mech

[2020-08-03 20:57] atheobold commented on #222
@zkamvar -- my apologies for the late response! I have made the reviews to the sections you requested.

[2020-08-04 13:22] juanfung commented on #223
I guess the question is whether the images convey (1) and (2), which they probably don't. I also wonder if (1) is supposed to convey fast (just opening up the question).

If we do update the pictures, we don't need to use another car though! How about an old school television vs a smart tv? Or it could even be a radio vs a television.

If we do use cars, the images should convey the message clearl

[2020-08-04 15:23] atheobold commented on #223
@juanfung I suppose I came up with the idea "`R` is fast" from my experiences hearing the comparison of `R` as a race car, and SAS as a bus. I like the idea of converting the comparison to televisions. We could choose a television from the 1990s (when `R` was created) to contrast against a modern smart television!

[2020-08-04 15:31] juanfung commented on #223
@atheobold Ha! I love the analogy of SAS as a bus.

I like the 1990s tv idea! Although I don't mean it to suggest R is intrinsically "slow" or "outdated technology."

[2020-08-04 15:58] atheobold commented on #223
@juanfung I do agree that we want to make sure that people don't interpret the pictures as `R` being slow or outdated. I'm not quite sure how to convey the message that `R` is a very computationally efficient language, but coding in R (instead of RStudio) feels outdated.

[2020-08-05 16:00] #222 closed

[2020-08-10 18:01] cengel opened #227 "replace width with length in exercise"
Second exercise on "Introduction to R" Page https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html should replace width with length

... It should be noted that R Studio might add “()” after **width** and if you leave the parentheses you will get unexpected results..

Correct to
... It should be noted that R Studio might add “()” after **length** and if you leave the parentheses you will g

[2020-08-11 17:25] cengel opened #228 "Error in code that generate `interviews_plotting` table"
Episode  03-dplyr-tidyr.Rmd:  the code that generates the output for the plotting table line 695 causes an error.

    Error: Can't rename columns that don't exist.
    x Column `NA` doesn't exist.

It seems to me that the line can just be removed.

    interviews_plotting <- interviews %>%
        ## pivot wider by items_owned
        separate_rows(items_owned, sep=";") %>%
        mutate(items_o

[2020-08-11 18:32] cengel opened #229 "Fix alpha parameter in Box plot exercise solution"
Episode 04-ggplot2.Rmd

In the solution to the Boxplot exercise the alpha parameter needs to be **outside** the `aes` function, otherwise it will generate an entry in the legend.

change (line 284)

    interviews_plotting %>%
      ggplot(aes(x = respondent_wall_type, y = liv_count)) +
      geom_boxplot(alpha = 0) +
      geom_jitter(aes(alpha = 0.5, color = memb_assoc)) # <==

to

    interview

[2020-08-14 17:18] cengel opened #232 "links under "improve this page" are broken"
It appears that the files were moved from episode to episode_rmd, so the links under "Improve this page" in the top menu bar of the materials need to change as well. For example:

change
`https://github.com/datacarpentry/r-socialsci/edit/master/_episodes/02-starting-with-data.md`

to
`https://github.com/datacarpentry/r-socialsci/edit/master/_episodes_rmd/02-starting-with-data.Rmd`

[2020-08-14 17:25] cengel opened #233 "solution throws error"
Episode : 02-starting-with-data.Rmd

The division by 2 in the solution to question 3 in the exercises on subsetting causes an error, because the total number of rows in the data file (131) results in 65.5

Line 262:

    interviews_middle <- interviews[(n_rows / 2), ]`

Results in:

    Error: Must subset rows with a valid subscript vector.
    ✖ Can't convert from <double> to <integer> due to los

[2020-08-14 17:29] juanfung commented on #228
Thank you, @cengel. I cannot reproduce your error. The column is renamed and I can inspect it:
[code]

[2020-08-14 17:39] juanfung commented on #233
Thank you @cengel ! I can think of several alternatives
1. Integer division `%/%`
2. Round, ie, `round(n_rows / 2)`
3. Floor or ceiling, eg, `floor(n_rows /2)`
I'm not sure which is the best in terms of teaching. Maybe `round`? Might be worth keeping as is, showing the error, and introducing `round`

Paging @kelseygonzalez and @atheobold

[2020-08-14 18:23] juanfung commented on #223
Recording per discussion w @atheobold and @kelseygonzalez ... Maybe a 'dumb' phone vs a smart phone?

[2020-08-14 18:32] kelseygonzalez commented on #232
Hi @cengel ,
These links are not actually broken: the /_episodes_rmd/ files get converted into .md files in the website building process. We want people to update the .rmd files, though, as these are the source files!

Thanks for having a keen eye and pointing this out. Your issues are helping us improve the lesson!

[2020-08-14 18:35] juanfung commented on #227
Resolved 19520f0

[2020-08-14 18:35] #227 closed

[2020-08-14 18:40] kelseygonzalez commented on #233
I'm leaning towards adding a "Hint: you may need to use the `round()` function to accomplish this!" at the end of that exercise step.

[2020-08-14 19:14] atheobold commented on #233
Great find @cengel! I think the exercise can be scaffolded a bit better, to prompt learners to expect that finding the middle row may require a bit more thought. Also, like @kelseygonzalez I am inclined to add a hint.

Alternatively, I would advocate the use of `R`'s built-in `median( )` function over `round( )`, since this function doesn't require that we discuss the default behavior of `round( )

[2020-08-14 19:18] atheobold commented on #229
@cengel thanks for finding this error in the code! Since we introduce using `alpha` outside of `aes( )` on line 181, it makes complete sense to continue that practice here.

Would you like to create a pull request with this change, so that we can document your contributions to this lesson? If not, I am also happy to make this change.

[2020-08-14 19:21] atheobold commented on #228
I was also unable to reproduce the error you obtained @cengel.

[2020-08-14 19:44] maneesha commented on #223
I think the phone analogy may have the same drawback of the TV analogy - that the old phone is slow and outdated.

Do other people think there is an obvious purpose to the images?

[2020-08-14 22:50] kelseygonzalez commented on #228
I test this as well on my machine and failed to produce the error. I am unsure why @cengel got the error, but my best guess is a dplyr, tidyr, or R version difference.  Let us know if you're able to recreate the error or debug. Thanks for the contribution, @cengel !

[2020-08-14 22:55] kelseygonzalez commented on #233
I like this solution, @atheobold . I wonder if students will be able to come up with 1:nrow(interviews) with a less thorough introduction to this sort of vectorization in the earlier section of this episode than in other curricula. There is a section with the following prose, which should provide a strong enough foundation: `: is a special function that creates numeric vectors of integers in incre

[2020-08-14 22:58] kelseygonzalez commented on #223
@maneesha we discussed this a bit in our meeting today and my opinion is that the images don't serve a specific useful purpose and similar lessons in DC and SWC don't go through the differences between R and Rstudio. I vote to remove them as they are not contributing to the lesson content and may reduce inclusion through alienation for those who don't understand the reference. I'm not sure if I co

[2020-08-14 23:04] kelseygonzalez commented on #217
@juanfung it seems like you've made a commit to fix this issue but did not close the issue. Please reopen if you're still working on it!

[2020-08-14 23:04] #217 closed

[2020-08-14 23:49] atheobold commented on #233
I think that the introduction to the `:` function belongs more in the Introduction to R section, potentially in the Subsetting Vectors section. If we add this and give an example of extracting a sequence of indices from a vector, I think that referencing this in the exercise wouldn't be that large of a stretch.

[2020-08-14 23:52] atheobold commented on #76
I will look into this conversation, given the updates to `R` in version 4.0. Now that `stringsAsFactors` is `FALSE` by default, the behavior of these two functions is much less different. However, I do believe that it is still worthwhile to talk about *why* we are philosophically opposed to strings being coerced into factors.

[2020-08-17 11:17] juanfung commented on #223
I'm okay with removing it *for now*. But I also see value in thinking about an alternative. It doesn't seem other lessons spend much, if any, time making the distinction between R and the IDE and it would be nice to be able to address it. As we discussed in our meeting, learners are often confused about the difference between the two. Installing RStudio without R is not uncommon.

So addressing th

[2020-08-17 11:22] juanfung commented on #217
@kelseygonzalez Yes, I neglected to mention that 2 is being addressed in a rework of `pivot_wider` and `pivot_longer` by @atheobold

[2020-08-18 13:43] juanfung commented on #228
I was able to reproduce @cengel's error. The strange thing is nothing has changed, except that I started a fresh session. The problem turns out to be that `pivot_wider` creates a new column called `NULL` rather than `NA`.

[code]
as seen in the second to last line above. So now the question is why I got an `NA` column last week and a `NULL` column this week. Can anyone else reproduce?

Session inf

[2020-08-18 13:47] juanfung commented on #228
Well that was easy: at the beginning of episode 3, when loading the SAFI data, we tell `read_csv` that "NULL" values should be treated as `NA`:
[code]
If a learner quickly re-loads the data without doing this (as I did), they will have a `NULL` column rather than `NA` column.

Will this create confusion?

[2020-08-18 13:57] juanfung commented on #233
@atheobold I do like the use of median with the hint. And I agree that the discussion on `:` would fit in well under subsetting vectors. in the software carpentry lessons, this is part of the first "real" episode on Data Structures (specifically the section on vectors!)

[2020-08-18 16:32] kelseygonzalez commented on #228
I think we should assume learners are going through the lesson and/or website fully from beginning to end. We could, however, write a side note saying that if you get "this column doesn't exist" as an error, it's because you're data frame has NULL / NA mixed. I've had similar errors where learners use read.csv() instead of read_csv() and these tiny errors really trip them up.

[2020-08-18 16:44] atheobold commented on #228
@juanfung -- I agree with @kelseygonzalez that we should assume that learners are going through the material from beginning to end. But, adding a note to the instructor notes that mentions this error would certainly be helpful!

@cengel would you be interested in contributing a note explaining this error to the instructor notes for this lesson? The instructor notes can be found [here](https://data

[2020-08-18 16:48] atheobold commented on #233
@juanfung - great! I think we can simply add @kelseygonzalez's text to the subsetting vectors section. @kelseygonzalez - would you like to make this addition?

I am happy to make the change to the "solution" for the exercise that uses the `median()` function in the hint.

[2020-08-18 16:53] juanfung commented on #233
@atheobold That text already exists in episode 2. Moving it would require introducing `:` earlier, not difficult but not straightforward. Or we leave it where it is. I'm okay either way

[2020-08-18 17:20] atheobold commented on #233
@juanfung I didn't realize that the text @kelseygonzalez provided was verbatim from episode 2. Let's leave it be!

[2020-08-18 17:49] #233 closed

[2020-08-25 01:02] cengel commented on #232
Hi @kelseygonzalez,
Apologies, I did confuse `md` and `rmd` in my earlier message, but some of the links still seem broken.

Right now if I go to the following pages and click on 'Improve this page" I get directed to the .md file.
https://datacarpentry.org/r-socialsci/
https://datacarpentry.org/r-socialsci/setup.html
https://datacarpentry.org/r-socialsci/00-intro/index.html
https://datacarpentry.o

[2020-08-25 03:28] cengel commented on #229
@atheobold I submitted a pull request for this.

[2020-08-25 07:57] fmichonneau commented on #232
Thanks for noticing this @cengel! I submitted #240 which should address the 404 you identified.

[2020-08-25 14:19] #229 closed

[2020-08-25 16:03] #228 closed

[2020-09-01 11:19] #73 closed

[2020-09-01 11:22] juanfung commented on #74
@atheobold @kelseygonzalez What do you guys think? The current use makes sense to me, but I haven't taught the workshop so can't tell if it's confusing.

[2020-09-01 18:02] atheobold commented on #74
Personally, I use `%in%` frequently, but always within a `filter()` statement. Although unsightly, bracketing is the backbone of a `filter()` statement, so I feel that the way in which the `%in%` operator is currently included should remain the same.

I do, however, understand the message @ErinBecker is voicing since that is the way many people may naturally think of the comparison. Per @ha0ye's s

[2020-09-01 18:06] juanfung commented on #74
@atheobold Sounds good! I will take a stab at making those changes

[2020-09-04 16:56] jonjab opened #243 "ep 00: installing tidyverse challenge is redundant"
The lesson setup instructions have the learners install the Tidyverse, then episode 0 has that installation as a challenge.  This seems redundant to me (although I get that we often have to pause while people who didn't install tidyverse catch up at this point).

I propose editing that challenge and the text leading up to it:
a: add verbage and a screenshot about checking to see what packages are

[2020-09-04 21:29] jonjab commented on #116
With this change, should I be forking the master branch instead of gh_pages when following the instructions here:

https://github.com/dmgt/swc_github_flow/blob/master/for_novice_contributors.md#option-2---use-a-command-line-interface-with-git

And if I do that, should previewing locally using jekyll work, or does travis change that as well?

[2020-09-07 17:40] kelseygonzalez commented on #243
I really like this idea - these changes could only improve the lesson. Go ahead and make these changes and submit a PR and we'll take a look!

[2020-09-08 11:28] #191 closed

[2020-09-09 19:59] atheobold commented on #122
@angela-li - did you resubmit the dataset to FigShare and fix the links? Currently, the data in Figshare and this lesson still have the same issues @cengel pointed out. Additionally, the issue that @colinquirk pointed out substantially underrepresents the amount of missing `keyID`s in the dataset, as there are **a lot** of missing `keyID`s.

Perhaps a broader question for @kelseygonzalez and @juan

[2020-09-14 19:00] juanfung commented on #122
I don't see it as a problem, but okay with changing.

[2020-09-14 20:29] atheobold commented on #122
@juanfung and @kelseygonzalez - a new issue I noticed when reviewing the changes to the `dplyr` and `tidyr` lesson, I stated that there are not duplicate `keyID`s in the dataset, which is false. These interviews are at the same village on the same date, but they do not have the same `instanceID`. To me, the discussion of wide/long data formats are complicated by there being duplicated `keyID`s, bu

[2020-09-15 11:42] juanfung commented on #122
@atheobold I had to refresh myself on the data set. From the [workshop page](https://datacarpentry.org/socialsci-workshop/data/)
key_id | Added to provide a unique Id for each observation. (The InstanceID field does this as well but it is not as convenient to use)
-- | --

Suggests that duplicate `key_ID`s should not exist. I can't find where in episode 03 you say that, but that is a case where we

[2020-09-15 12:14] juanfung commented on #116
@jonjab Yes please fork from master. Serving locally on jekyll should work as expected (in principle)

[2020-09-15 20:31] atheobold commented on #122
In episode 03 I added:

The [FigShare link](https://figshare.com/articles/SAFI_Survey_Results/6262019) from the workshop data page says the same thing about `keyID`s being unique. I suppose we could write to the maintainers of the SAFI data, to request additional information about why there are duplicate `keyID`s?

[2020-09-16 15:01] juanfung commented on #122
Yeah why not? :)

[2020-09-17 19:47] rusersTN commented on #65
The vector discussion seems fairly flushed out now, but I think a couple things should be clarified about data types. Users coming from other languages (like Java or C++) might appreciate the clarification that in R, there's no real distinction between character data and string data. You can use 'single quotes' or "double quotes" to indicate a string.  Further, if you want to include a string that

[2020-09-18 15:59] juanfung commented on #65
@allisonrobertsTN Thank you! Those are really great points. I don't have a background in languages that distinguish single and double quotes. Def worth including.

Would you be interested in creating a PR to incorporate your suggestions? That way you can get credit for your ideas!

[2020-09-18 16:15] juanfung commented on #133
Rather than having to download another data set, maybe we replace
[code]
with the code to create `interviews_plotting`

[2020-09-18 16:18] allisonrobertsTN commented on #65
Thank you! I'm glad they were helpful. I can definitely draft a PR! I'm still pretty new to using Github and the Carpentries, but I can probably figure it out.

[2020-09-18 16:50] juanfung commented on #65
Awesome! Well if you need guidance, don't hesitate to reach out 😄

[2020-09-18 18:08] juanfung commented on #223
per discussion with @atheobold and @kelseygonzalez , replacing with image of manual vs automatic transmission

[2020-09-18 18:11] juanfung opened #247 "Add link to SAFI data in Setup"
It would be convenient to find the link to the data in setup.

Alternatively, setup could point to episode 00 for download instructions

[2020-09-18 18:32] kelseygonzalez commented on #133
@atheobold @juanfung and I decided to include the code to create `interviews_plotting` at the beginning of the lesson for those who may not have gotten the completed dataframe from the tidyr lesson. @juanfung says he'll handle this.

[2020-09-18 19:45] juanfung commented on #247
@atheobold @kelseygonzalez Never realized it but link to data is already at the top of the [Instructor Notes](https://datacarpentry.org/r-socialsci/guide/). Don't think we need it in setup too, do we?

[2020-09-18 20:07] kelseygonzalez commented on #4
Status update: This will be reviewed once the database episode is brought back in, pending official release of the DC Social Science SQL lesson.

[2020-09-18 20:08] kelseygonzalez commented on #51
Status update: This will be reviewed once the database episode is brought back in, pending official release of the DC Social Science SQL lesson.

[2020-09-19 03:41] kelseygonzalez commented on #247
It never hurts to have instructions on how to get to it from all three locations, even if they're all pointing to one place.

[2020-09-19 03:43] kelseygonzalez commented on #116
@juanfung It seems like issue has been 'solved'. Should we close the issue or leave it open and pinned for new contributors?

[2020-09-19 03:47] kelseygonzalez commented on #80
Thanks to @maczokni for handling the JSON section.

Note to @atheobold and @juanfung : the dyplr & tidyr lesson still doesn't include anything on joins (which I assume is what the merging dataframes would appear as). Moreover, I don't think we have anything on ordinal data yet. Let's discuss next steps in our next maintainer meeting.

[2020-09-21 11:15] juanfung commented on #116
I think we can close it, since it's noted in the contributing guide

[2020-09-21 11:15] #116 closed

[2020-09-21 11:16] juanfung commented on #80
Good idea!

[2020-09-21 15:01] #133 closed

[2020-09-21 15:01] #247 closed

[2020-09-21 16:24] juanfung commented on #223
How about these?

manual: https://unsplash.com/photos/D19rXKDUPYM

automatic: https://unsplash.com/photos/Wec3M4dY_LE

[2020-09-21 16:29] kelseygonzalez commented on #223
I think those are similar enough that I'm happy, @juanfung , thanks for searching!

[2020-09-21 16:33] atheobold commented on #223
Those are similar enough that I think they get the point across. As an aside, it would have been __way__ easier to learn to drive a manual if there were slots for each gear!

[2020-09-22 14:42] juanfung commented on #223
@atheobold YES!

[2020-09-22 16:54] #223 closed

[2020-09-22 16:56] atheobold commented on #122
This issue was discussed in PR #248, and can be marked as resolved for now.

[2020-09-22 16:56] #122 closed

[2020-09-23 18:04] juanfung opened #254 "Website not building"
Tagging @fmichonneau as the expert. I am out of my depth with regard to the site build, but I got notified that it is [failing](https://github.com/datacarpentry/r-socialsci/runs/1156404499).

Additionally, several recent commits/PRs have not shown up on rendered site (I am guessing that this is because of the problems with travis and changes to site build instructions @fmichonneau made?).

[2020-09-23 18:27] fmichonneau commented on #254
Yes there is a couple of issues with the site building. I think I'm close to figure it out but I ran out of time today. I'll check back tomorrow

[2020-09-23 18:28] juanfung commented on #254
@fmichonneau Got it thanks!

[2020-09-24 05:37] fmichonneau commented on #254
the site is now building correctly. I have switched to using GitHub Actions instead of Travis as the community support for R there is not as strong as it used to be and having everything done within GitHub is easier to manage. The logs for the builds are available under the 'Actions' button.

Pushes to the default branch (`master`) will lead to having the site built and deployed to the `gh-pages`

[2020-09-24 05:37] #254 closed

[2020-09-24 11:52] juanfung commented on #254
Awesome thank you!

[2020-09-28 16:45] menghamo opened #255 "Starting With Data > Data Wrangling: Reco to add a small snippet showing to convert character to date format"
In the example used, the dataset seems to be formatted with such that the read_csv function is able to read in the date column in correct format. Generally, that is not the case and date columns are often read in as character and need to be converted to date. I would recommend to add a small snippet simply highlighting how to convert character to date format.

The lesson does mention use of ymd()

[2020-10-02 19:47] gurpreet2301 opened #256 "some points worth addressing while teaching this session"
Hello,

There isn't any obvious description as to why we should be using -< as compared to =, to assign an object. The users are left wondering, so we need to add some specific advantages, and not just merely state that -< is preferable.

Further, going down to the section on "Data wrangling", somewhere in the middle, we bring in "Spreadsheet" lesson, and start pointing to that training module. No

[2020-10-03 19:02] atheobold commented on #96
I will be meeting with Rayna Harris on November 9 to discuss how we can begin the process of translating our materials. We can revisit this TODO after that date.

[2020-10-05 17:36] kelseygonzalez commented on #256
Hi @gurpreet2301, I see in lesson one that it says: "The arrow can be read as 3 goes into x. For historical reasons, you can also use `=` for assignments, but not in every context. Because of the slight differences in syntax, it is good practice to always use `<-` for assignments." Can you elaborate on where you feel more description could be added or how you would choose to explain this?

In term

[2020-10-05 18:48] gurpreet2301 commented on #256
Hi @kelseygonzalez : Thanks for your comment!

"For historical reasons, you can also use = for assignments, but not in every context. Because of the slight differences in syntax, it is good practice to always use <- for assignments."

The users ask questions about "what are those slight differences in syntax", and there is not enough documentation to comment on.  While what is written is true, the

[2020-10-05 20:55] atheobold commented on #256
Hi @gurpreet2301! Thanks for your comments, as these are things that I think many instructors (myself included) struggle with. I understand your desire to have additional verbiage around why assignment is preferred, however, I am concerned that these details are going to muddy the waters for first time R users.

Historically, the assignment arrow dates back to S. In S, the `<-` was inspired by APL

[2020-10-05 22:12] gurpreet2301 commented on #256
@atheobold : Hi Allison, Thank you very much for a very informative comment! That's precisely the information I was looking for.

The historical perspective that you've described is quite informative, and I believe there is lot of incentive in having it, and for users knowing it.

I understand your concern as far as technical/mechanical reasoning is concerned, but still, I do not think it is diffi

[2020-10-06 11:16] juanfung commented on #256
@kelseygonzalez I'm okay removing the text re Spreadsheets.

@gurpreet2301 I was going to suggest this information fits in the instructor notes. How do you feel about this @kelseygonzalez @atheobold ?

[2020-10-06 11:29] juanfung opened #258 "Website build issues"
- Code output prints a bunch of weird stuff (seems to only be for data.frames/tibbles). See eg [episode 02](https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html).

- PR checks failing because build-website is failing (specifically `Run make lesson-check`. See eg [this PR](https://github.com/datacarpentry/r-socialsci/pull/257/checks?check_run_id=1211346820)

@fmichonneau Tagging y

[2020-10-07 09:17] fmichonneau commented on #258
Hi @juanfung

Thanks for bringing this up.

I fixed the weird rendering of tables with eca3b3bbc449fa2365809e572813135ec2734efe and 4116d85fe5d240ac27f492b0c4d71ac31fa07493

I [commented](https://github.com/datacarpentry/r-socialsci/pull/257#issuecomment-704769235) in the thread about the build failure.

Please let me know if there are other things I can help with :smile:

[2020-10-07 11:22] #76 closed

[2020-10-07 11:25] juanfung commented on #258
@fmichonneau Thank you for all your help!

[2020-10-07 11:25] #258 closed

[2020-10-07 15:49] atheobold commented on #256
I'm happy with it being added to the instructor notes. I was mostly wondering what, if any, should be included in the body of the lesson. I think adding a short paragraph praising the readability of using `<-` could be wise?

[2020-10-07 17:07] juanfung commented on #256
@atheobold I see. In the lesson, something short about readability should suffice. I think it's okay to add as long as it's short and does not distract from the lesson

[2020-10-07 17:12] kelseygonzalez commented on #256
@atheobold it sounds like you'll be putting in a PR for your small section on `<-` - let me know when that PR goes in so that I can remove the language about spreadsheets in the dplyr lesson.

[2020-10-07 21:39] gurpreet2301 commented on #256
@kelseygonzalez , @atheobold , @juanfung : Thanks to all your messages. However, I noticed another mistake when we talk about pivot_longer. Specifically here: "This creates a dataframe with 262 rows (4 rows per interview respondent)."

In the original file, there are 131 rows, and when we do pivot_longer, we get 4 rows per interview respondent, that is 524 rows, not 262! That needs to be fixed as

[2020-10-07 23:11] atheobold commented on #256
@gurpreet2301 -- thanks for pointing out that error. Would you be interested in making that change and submitting a pull request? That way there will be a record for your contributions!

[2020-10-08 11:52] #57 closed

[2020-10-08 11:52] #256 closed

[2020-10-08 11:57] gurpreet2301 commented on #256
@atheobold : Thanks, yes, I would like to do that. How to do a pull request, if that has not been done already?

[2020-10-08 13:36] juanfung commented on #256
@gurpreet2301 Well, I was going to point to the contributing page but [it doesn't exist](https://datacarpentry.org/blob//CONTRIBUTING.md)!

It's pretty easy:
- fork the repo
- create a dev branch on your fork
- push changes to dev branch on your fork
- on the GitHub page for your fork, you should see a notification about creating a PR for your changes
    - if not, just go to Pull Requests on less

[2020-10-08 13:50] juanfung opened #260 "Fixing minor issues with json episode"
- Episode is unnumbered. Does it make sense to number it 05, ie, directly after ggplot2?
- Use of `write.csv` should be changed to `write_csv` top be consistent
- Object is coerced to data.frame. Should we coerce to tibble?
    - This would help with the massive amount of output from `head(json_data)`
    - Could use `glimpse(json_data)` instead, but not sure if we use in other episodes
- A less m

[2020-10-08 14:36] atheobold commented on #256
@gurpreet2301 -- I found the `pr_` functions from the ***usethis** package extremely useful when I learned about pull requests. Their set-up guide [(here)](https://usethis.r-lib.org/articles/articles/usethis-setup.html) is very useful, if you plan to continue contributing to these lessons. After that, I'd recommend the [article on pull requests](https://usethis.r-lib.org/articles/articles/pr-funct

[2020-10-08 14:39] atheobold commented on #260
I'd like to add `glimpse()` to the Starting with Data lesson, since the **tidyverse** is already installed. So, then having it in this lesson wouldn't be new.

[2020-10-09 14:00] dafnevk commented on #232
I still get a similar issue, if I click 'improve this page' e.g. from the lesson website, e. from episode 3, I get redirected to https://datacarpentry.org/edit//_episodes_rmd/03-dplyr-tidyr.Rmd which is a broken link.

[2020-10-09 14:29] juanfung commented on #232
@dafnevk Thank you for noticing that the issue persists! We will investigate and get it fixed asap.

[2020-10-09 14:34] juanfung commented on #232
@fmichonneau I looked at `navbar.html` and I thought the problem was the `repo_url` variable, but in `gh_variables.html` it looks like `repo_url` is set correctly. However, when a user clicks on "Improve this page," the `repo_url` appears as `datacarpentry.org`. Also note that `default_branch` variable should be `master` but no branch appears in the link.

In short, I have no idea how to fix! :)

[2020-10-09 19:38] atheobold commented on #255
Hi @menghamo! I sincerely apologize for our delayed response, each of the maintainers have had a hectic week. I **really** like your suggestion, and agree that many (if not most) of the dates that people may need to wrangle will not be in this tidy format.

Would you be interested in contributing this example to the lesson, to make the section on `lubridate` more robust?

[2020-10-10 00:52] menghamo commented on #255
Oh no worries at all. Yes absolutely, I would be happy to!

[2020-10-16 08:33] #232 closed

[2020-10-16 08:36] fmichonneau commented on #232
Thank you for bringing this up. This was caused by the new approach to build the site using GitHub Actions. The approach was building the html files for the site and was pushing this directly to the `gh-pages` branch. The website rendered correctly but it meant that the logic used to get the repository info we need from the GitHub API (name of the repository, default branch, ...) was not used. In

[2020-10-16 10:26] dafnevk opened #263 "Discussion of key_id and instanceID confusing for pivoting"
The section in [Episode 3](https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html) on Reshaping with pivot_wider() and pivot_longer() starts with observations about the key_id and instanceID and relates this to the long and wide format. I understand this text is added in response to issue #122, but I find it very confusing because it is not directly related to wide and long formats. In pa

[2020-10-16 11:16] #255 closed

[2020-10-16 11:16] juanfung commented on #232
@fmichonneau Thank you!

[2020-10-16 15:17] dafnevk commented on #263
I think the concept of going from a long to a wide format is easier to explain using the result of a group_by, which is in long format. For example:
[code]
(This is similar to how it is explained in the [Ecology lessson](https://datacarpentry.org/R-ecology-lesson/03-dplyr.html#Reshaping_with_gather_and_spread) )

[2020-10-16 15:37] juanfung commented on #263
@dafnevk Thank you for the suggestions! You make a good point. Would you be interested in submitting a PR to implement your suggestions?

[2020-10-16 18:26] juanfung commented on #260
Tabling `tidyjson` for now as I don't see an obvious need

[2020-10-16 18:33] juanfung opened #265 "Introduce glimpse in "Starting with Data""
Per #260, using `tibble::glimpse` to peek at parsed json tibble. It would be nice to introduce `glimpse` in Starting with Data episode.

[2020-10-16 19:23] kelseygonzalez commented on #80
- [X] Adding JSON to the R lesson
- [ ] Adding merging dataframes to the R lesson
- [X] Adding section about ordinal data to both R and Python

[2020-10-16 19:24] juanfung commented on #80
One minor correction: Adding section about ordinal data to *R* (python is beyond our scope). Resolved in #83

[2020-10-17 00:45] #260 closed

[2020-10-19 10:07] dafnevk commented on #263
I will do that.

[2020-10-19 11:31] juanfung opened #267 "Purpose of `reference.md`"
This file was added Aug 2018, remains a TODO: https://github.com/datacarpentry/r-socialsci/blob/master/reference.md

The R ecology lesson uses this as a ["cheat sheet" of functions used in each episode](https://github.com/datacarpentry/R-ecology-lesson/blob/main/reference.md).

The R intro to geospatial lesson uses this as a bit of a more general ["cheat sheet"](https://github.com/datacarpentry/r-

[2020-10-21 16:25] nataliablock commented on #265
It would be nice to introduce glimpse in the "inspecting data frames" section. I can work on that and send a PR if it's ok for you all.

[2020-10-21 16:32] juanfung commented on #265
@nataliablock Thank you, that would be great!

[2020-10-21 18:52] nataliablock commented on #265
I'm on it!

[2020-10-22 21:11] atheobold commented on #267
@juanfung -- it sounds like we have two votes in favor of transitioning to a similar purpose as the Ecology curriculum. Let's do it!

[2020-10-22 21:16] #265 closed

[2020-10-22 21:28] atheobold commented on #263
Hi @dafnevk! Thanks for your input on the new content of this lesson. You are correct, the content was motivated by an issue, namely, Issue #217. The request was to create content that provided an explicit introduction to long and wide data formats, and how these formats might manifest in datasets researchers may work with.

I agree that the description of long and wide data provided in the Ecolog

[2020-10-23 08:58] dafnevk opened #269 "make sure readr >= 1.4.0"
The `read_csv` command at the end of [episode 4](https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html) has been changed in pull request #266  to use the `file` argument instead of the deprecated `path` argument.
But that means that the installation of the package `readr` needs to be at least version 1.4.0.
Can we add somewhere in the lesson to make sure to update this package? We only i

[2020-10-23 11:10] juanfung commented on #267
To be clear, I didn't vote...I'm ambivalent 😝 I'd be okay with several of the options...but happy to turn into a glossary of functions used, if we think that is useful.

[2020-10-23 15:04] dafnevk commented on #263
Thanks @atheobold for the clarification.
I started with a rewrite and will do a pull request. I think it indeed good to keep in the part were we use `pivot_wider()` to do something actually useful for our dataset, but first explain the concept of longer and wider using the grouped dataframe.

[2020-10-23 15:04] juanfung commented on #269
@dafnevk Great catch! Since 1.4.0 is fairly new, perhaps we should not enforce version 1.4.0 yet. I don't believe we enforce package versions anywhere else.

So perhaps it's best to change the argument back to `path`? In fact, the call should work without explicitly using the argument name (ie, `read_csv('path/to/file.csv')`

[2020-10-23 18:49] juanfung commented on #267
I suppose I have reservations about using reference as a glossary of functions used. I've seen it used for packages, which makes a lot more sense to me since it's a reference of the functions *in the package*. Having never taught this workshop myself, do yall believe that having this would be useful to either the learners or to the instructors?

[2020-10-30 11:49] #269 closed

[2020-11-09 23:42] atheobold commented on #96
Alright, here's a debrief from my meeting with @raynamharris:

- As @fmichonneau eluded to, there are new tools that are being used to coordinate the Spanish lessons with their English counterparts. From my understanding, this is to facilitate easier updating between the two lessons, so some of the "fixes" can be done by AI.
- Some of the Spanish lessons are being served at the same web address as

[2020-11-10 05:41] fmichonneau commented on #96
Yes, I think that gauging interest to translate the lesson by sending a message on the Slack channel would be a good place to start.

[2020-11-15 19:18] kelseygonzalez commented on #96
@fmichonneau I've had two Spanish speaking friends express interest in helping out with the carpentries translation efforts. How can they join in?

[2020-12-02 18:59] #267 closed

[2020-12-09 01:31] atheobold opened #274 "Broken Links to Code Handouts"
Under the "Extras" at the lesson website there are four links to Code Handouts, all of which have 404 errors when selected. Additionally, the handout labeled "Code Handout" should be labeled "Code Handout - Data Wrangling".

[2020-12-09 04:22] kelseygonzalez commented on #274
My quick reaction is that the .Rmd files in the `_extras` folder don't seem to be getting knitted to `.md` or `.html`. I think we need ot investigate the website architecture to determine if there's a way to get these knitted or if we need to move them into a place where they will be properly rendered.

[2020-12-09 10:29] fmichonneau commented on #274
yes, the `.Rmd` files in `_extras` are not knitted. We could address this in the lesson template. Before doing so, I'd like to clarify your goal with these files. Do you want them to look like a page of the website that workshop participants could copy and paste from, or do you expect these pages to be `.R` files that people could download from the site and open directly in RStudio (like the [code

[2020-12-09 17:23] atheobold commented on #274
Hi all,

Sorry for the short message, I was typing it as more of a note while going through our website. I suppose @kelseygonzalez and @juanfung and I can discuss what we think would be best way to present these files. When I created them I had envisioned them to render similar to the [reference page](https://datacarpentry.org/r-socialsci/reference.html), with the possibility of learners downloadi

[2020-12-09 17:36] juanfung commented on #274
@atheobold I think the way you've written them, it would be nice to have them rendered, if it's not too difficult to do that

[2020-12-09 17:48] kelseygonzalez commented on #274
Could we have them rendered as html (or even a pdf handout) and embed a link to download the .rmd file?

[2020-12-11 02:37] atheobold commented on #274
I think that option would be my pick!

[2020-12-11 19:27] juanfung commented on #65
@allisonrobertsTN Are you still interested in submitting a PR? If not, no worries!

[2020-12-11 19:30] juanfung commented on #149
Closing issue, as instructor notes continue to evolve and issue not needed

[2020-12-11 19:30] #149 closed

[2020-12-11 19:31] juanfung commented on #193
@ha0ye Are you still interested in submitting a PR for this issue? If not, no worries, and we will go ahead and close the issue

[2020-12-11 19:39] juanfung commented on #51
Closing until database episode is revived

[2020-12-11 19:39] #51 closed

[2020-12-11 19:39] juanfung commented on #4
Closing until database episode is revived

[2020-12-11 19:39] #4 closed

[2020-12-11 19:41] atheobold commented on #96
As seen through this conversation, this topic is outside of the scope of this lesson. Thus, we have decided to close this Issue. If you would like to get involved in the translation efforts, please contact @fmichonneau or @martinolmos!

[2020-12-11 19:41] #96 closed

[2020-12-11 22:44] ha0ye commented on #193
Oh, sure! I didn’t realize this point had evolved to where you were interested in a PR on it. I can definitely take a crack at it next week, and also incorporating the excellent suggestions from @atheobold.

[2020-12-14 13:55] juanfung commented on #193
Sounds good thank you!

[2020-12-22 20:19] #193 closed

[2021-01-04 21:08] jyoung22 opened #277 "Add link to download SAFI.json to Setup"
I was running through the episodes and found that the setup for the R for Social Scientists lesson doesn't include a link to also download the SAFI data set as a JSON file. The beginning of episode 5 (Processing JSON data) does have a link, but it's not obvious. Currently, the link is embedded within a sentence in the opening blurb and the bolded piece is the entire link.

It wasn't easy for my ey

[2021-01-05 23:27] atheobold commented on #263
As I mentioned in my comment to PR #270, the "Introduction" section is intended to provide a big picture overview of what we mean by "long" and "wide" data formats, and how these formats look "in the wild."

While I agree that the `group_by()` - `summarize()` pipeline produces a "tidy" introduction to long and wide data formats, personally I feel quite dissatisfied with learners not leaving the le

[2021-01-06 12:42] juanfung commented on #277
@jyoung22 Great catch! If you'd like to submit a PR for this, let me know. If not, no worries - I will take care of it

[2021-01-08 04:53] #277 closed

[2021-01-27 15:55] angela-li opened #282 "Objectives in Data Visualisation with ggplot2 need to be updated"
In the lesson objectives for Data Vis with ggplot2, the Objectives say "time series plots" where it should say "barplots", since time series plots are not taught in the lesson. (The Questions are correct.): https://github.com/datacarpentry/r-socialsci/blob/bff25f5a69110ffb09710ae94126e3cfc13f1009/_episodes_rmd/04-ggplot2.Rmd#L11

This two-word change would be a great edit for a new contributor!

[2021-01-27 16:26] angela-li opened #283 "Adding legend labels to Changing Labels/Titles section"
There's already more than enough in this section, but curious if changing legend labels is a topic that fits well into the "Adding Labels and Titles" section.

I learned recently that you can change the legend label in `labs(fill = "Wall Type")`, (though this may lead to weird behavior) so might fit in well with the labs() section.
https://twitter.com/sharlagelfand/status/1354109442053308418?s=20

[2021-02-12 19:43] #263 closed

[2021-02-12 19:48] atheobold commented on #274
@fmichonneau -- just checking in on how we can integrate these files as HTMLs on the Extras page with a link to download the Rmd file. Also, the ordering of items in the Extras menu seems to not be in any order that we can establish. Is there a way for us to control the order of items in this menu?

[2021-02-22 09:37] lizawood5 commented on #282
I'm looking for a good first issue, and this seems perfect. I have read the contributing guidelines and will submit a PR from my fork of this repo, but please let me know if I did something that doesn't align with the protocols.

Also a note is that in this lesson `geom_line` is listed as an item we will cover for time series (line 117) and `geom_bar` is not mentioned in that review. Being new to

[2021-03-02 19:28] juanfung commented on #282
@lizawood5 Yes that would be a good issue or even better you can submit a PR! :)

[2021-03-02 19:29] #282 closed

[2021-03-04 20:45] AmandaDPerez commented on #274
@atheobold @kelseygonzalez you can render it as HTML and add in the yaml to allow download of the  .rmd as follows:
output:
  html_document:
    code_download: true

[2021-03-17 17:01] juanfung opened #294 "Build site is failing"
Build site (and thus Deploy site) is failing. In particular, it looks to be the `make lesson-check` run, about where it tries to load 'stringi` via `knitr`:

	‘/tmp/RtmpKdteQo/downloaded_packages’
Loading required package: knitr

Error in dyn.load(file, DLLpath = DLLpath, ...) :
  unable to load shared object '/home/runner/work/_temp/Library/stringi/libs/stringi.so':
  libicui18n.so.60: cannot ope

[2021-03-22 15:08] juanfung commented on #294
@zkamvar You mentioned changing 'master' to 'main' - how do we do that?

[2021-03-22 15:45] zkamvar commented on #294
I can change that for you! It's in Settings > Branches > Default Branch > Rename Branch (:pencil2:)

[2021-03-22 15:46] zkamvar commented on #294
Done!

You should now see a prompt when you visit the repo that the default branch is changed with the following instructions to update your local clone:

[code]

[2021-03-22 15:47] juanfung commented on #294
@zkamvar Thank you!

[2021-03-22 16:13] zkamvar commented on #294
From https://github.com/datacarpentry/r-socialsci/commit/3e8345ba44e19516cc71c516238748fccdc0e61b, I can see that the build process is no longer failing and I think this issue can be closed.

[2021-03-22 16:46] juanfung commented on #294
Thanks that's great!

Do you know why some of the PRs that we merged last week when the build/deploy fell apart, aren't showing up?

Example: https://github.com/datacarpentry/r-socialsci/pull/288 is merged but does not show up on rendered website

[2021-03-22 20:25] zkamvar commented on #294
@juanfung I think they don't show up because the PR was merged despite the checks not passing.

Because the makefile only checks the modification time, it did not see those previously modified files as changed and did not rebuild them. Browsing the files in https://github.com/datacarpentry/r-socialsci/tree/a9143719fd0ea7e0bf52fcf10f807b5329624225/_episodes, you can see that the first two episodes

[2021-03-22 20:30] juanfung commented on #294
@zkamvar Thank you! So there is no problem making these small changes directly to the .md files?

[2021-03-22 21:09] zkamvar commented on #294
It would be better to make changes to the Rmd files

[2021-03-22 21:20] juanfung commented on #294
That's what I figured. The problem is these changes are already in the Rmd files. For example, #288 is here: https://github.com/datacarpentry/r-socialsci/blob/7dab2aa18e9393c2e75e59c8c6a3fcead7e15900/_episodes_rmd/00-intro.Rmd#L133

[2021-03-22 21:33] zkamvar commented on #294
I mean, you can make a _small_ change to the file. something like adding an extra line at the bottom of the file.

[2021-03-23 00:13] zkamvar commented on #294
Well #296 has been merged and yet it remains unchanged. It definitely was built in the build process, and I am unsure of why it was not updated by git even though it definitely changed. I'll have to take a look at this tomorrow, unfortunately.

[2021-03-23 11:32] juanfung commented on #294
@zkamvar Thank you, much appreciated!

[2021-03-23 23:58] zkamvar commented on #294
I FOUND THE ISSUE!!!!! This should be "fig.cap" not "fig.caption"

https://github.com/datacarpentry/r-socialsci/blob/b963ccd383229c74b7111e66c4884ee952df3b13/_episodes_rmd/00-intro.Rmd#L132-L134

In fact, as of knitr version 1.31, there is the fig.alt option, which will give a better result.

[2021-03-24 00:07] zkamvar commented on #294
I'm going to create a PR to fix this.

[2021-03-24 02:06] kelseygonzalez commented on #294
You're a ⭐ @zkamvar . I think the issues are now all solved - thanks for your time and dedication to this.

[2021-03-24 02:06] #294 closed

[2021-03-24 11:32] juanfung commented on #294
Amazing. Thank you @zkamvar !

[2021-03-25 15:17] zkamvar commented on #294
Thank YOU both for your patience with this!

[2021-04-07 14:16] JFormoso opened #298 "Definition of what a function is in Introduction to R episode"
Hi!

I noticed that at the beginning of the episode (https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html), when talking about how to create an object, we tell the participants that "There are some names that cannot be used because they are the names of fundamental functions in R (e.g., if, else, for, see here for a complete list). In general, even if it’s allowed, it’s best to not use o

[2021-04-07 16:41] juanfung commented on #298
@JFormoso Thanks for this observation! I like the latter option, ie, not introducing functions just yet, and maybe saying something like "these names are reserved for pre-defined objects in R that you will meet later [INSERTLINK?]"

But open to discussion! @kelseygonzalez @atheobold thoughts?

[2021-04-08 01:37] aranganath24 opened #299 "More explicit treatment of logical operators in dplyr's "filter" function"
In the "Selecting columns and filtering rows" section of the "Data Wrangling with dplyr and tidyr" lesson (https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html) there is a code block that shows students that it is possible to select rows based on multiple conditions using dplyr’s “filter” function. That codeblock uses commas between the different arguments/conditions:

`
filter(intervie

[2021-04-08 11:27] juanfung commented on #299
@aranganath24 Great catch. I would personally prefer using & instead of commas. Would you be willing to submit a PR with that change + an example with an or filter?

[2021-04-08 16:07] aranganath24 commented on #299
Hi @juanfung I'd be happy to do that, but I'm still somewhat new to this (this submission is part of my instructor checkout) and am a little confused by Step 1 in the "Using Github" section (https://github.com/datacarpentry/r-socialsci/blob/gh-pages/CONTRIBUTING.md). Step 2 (the Github workflow) makes total sense to me, but I could use some clarification on Step 1, just to make sure I do things co

[2021-04-08 17:24] juanfung commented on #299
@aranganath24 Great question. When you fork, you will notice that the repo has two branches (ignore dev branches): `master` and `gh-pages`. You should always merge changes to `master` not `gh-pages` (changes will be rendered automatically to `gh-pages`).

* Minor note: we recently changed the name from `master` to `main` due to problems with rendering the page. So `master` doesn't exist anymore. T

[2021-04-08 23:16] aranganath24 commented on #299
Thanks @juanfung I'll submit the PR tomorrow or early next week.

[2021-04-09 20:30] atheobold commented on #298
@JFormoso & @juanfung -- I agree that talking about "functions" before they are introduced isn't great practice. I would be okay with @juanfung's revision of substituting the word "function" for "object," as these are simply reserved names for objects (which happen to be functions). 😃

[2021-04-09 20:31] juanfung commented on #298
@JFormoso would you be willing to submit a small PR to make this change?

[2021-04-09 20:35] atheobold commented on #299
I actually prefer commas, since that is the built-in syntax for the **dplyr** verbs. I do, however, think that it would be nice to have a short blurb / example describing how a `,` operates the same as an `&`. This would be a great place to highlight how the `|` (or) can be used in the case where you want *either* statement to be satisfied.

[2021-04-09 21:02] juanfung commented on #299
But there's no symbol analogous to `,` for an or statement? It may be unwise at this stage in the lesson to introduce two alternative notations for and statements, when one is very specific to dplyr.

[2021-04-09 21:21] atheobold commented on #299
Nope. From my understanding, an OR statement requires a `|` and accepts nothing else. I think it may be a good idea to add a demonstration of an instance where you would want an "or."

For example, you might want *both* the village of Chirodzo **and** Ruaca. Showing participants that the following code returns an empty dataframe would motivate why "or" (`|`) is another important data wrangling too

[2021-04-12 14:21] juanfung commented on #299
Right, I agree we should add an example illustrating OR. I just wonder whether it's worth showing both `&` and `,`.  I lean towards keeping it to `&`. I don't personally use `,` for constructing conditionals and worry it will just confuse learners to introduce two symbols, when one is very specific to dplyr.

[2021-04-12 16:58] JFormoso commented on #298
Yes! :D

[2021-04-12 16:59] juanfung commented on #298
Great thank you!

[2021-04-13 19:42] elliewix opened #301 "possible change in tibbe behavior?"
I've read in the SAFI_clean.csv per episode 2 and the `key_ID` column in reading in as a `<dbl>` but the lesson says it should be an integer and `<int>`.  I can put in a PR if this should be updated, but I'm not sure if maybe it is just me.

Here are my tidyverse versions, and I'm on R 4.0.3.

── Attaching packages ────────────────────────────────────────── tidyverse 1.3.0 ──
✓ ggplot2 3.3.3     ✓

[2021-04-13 21:25] atheobold commented on #301
@elliewix -- you are correct. As of the 1.2.0 version of **readr**, the `read_csv()` functions no longer guesses columns are of type integer, instead these columns are guessed as numeric <https://github.com/tidyverse/readr/blob/master/NEWS.md#integer-column-guessing>. This is a minor change, but should be made to update the lesson to the current `read_csv()` behavior!

[2021-04-13 23:06] aranganath24 commented on #299
Hi @juanfung and @atheobold it seems there's a consensus to add an "or" example, but not on whether to use "&" in the code, or keep the commas as is and provide some additional context in the comment. I think replacing the commas with "&" makes the code more readable, but keeping the commas could be pedagogically useful, since it alerts students to pay attention to differences between base R and t

[2021-04-14 02:09] atheobold commented on #299
@aranganath24 -- To me, there is a fine balance between giving enough details but not too many details. Personally, I feel that adding a blurb about `&` goes toward the too many details side. Especially with people just learning to code in R, giving multiple approaches to do the same thing can be overwhelming. For that reason, I think it would be pedagogically better to stick with teaching the `,`

[2021-04-14 11:53] juanfung commented on #299
@atheobold A friendly debate! 😄

I think we both agree that presenting multiple approaches for the same thing is unnecessary.

Since we are now introducing `|` for OR operations, to me it seems natural to use `&` for AND operations. If the goal is for learners to continue using R on their own, I don't see why we wouldn't teach them the standard symbols that can be used in for control flow (eg, if

[2021-04-22 21:09] ayarnell opened #308 "Potential error in Formatting Dates section of Starting with Data"
I think there is a small but confusing error in the episode Starting with Data, Formatting Dates.
[code]
Output
`[1] "2020-07-31" "2020-08-09" "2021-04-30"`

The output dates change from the input dates and there is no explanation as to why. There should be a %Y used instead of %y in the last line. That is
`as_date(char_dates, format = "%m/%d/%Y")`

![DateError](https://user-images.githubuserconte

[2021-04-23 12:52] juanfung commented on #308
@ayarnell Great catch. Would you be willing to submit a PR to make this change? Maybe also adding an explanation for the `format` argument in `as_date`

[2021-04-23 13:08] ayarnell commented on #308
@juanfung Definitely, will do!

[2021-04-23 13:11] juanfung commented on #308
Thanks!

[2021-04-23 13:46] mikerspencer opened #309 "logical counting of items/months"
I had a comment this week, while helping, that the logical steps in the dplyr exercise (e.g. [lines 698-704](https://github.com/datacarpentry/r-socialsci/blob/main/_episodes_rmd/03-dplyr-tidyr.Rmd) ) didn't make much sense.

On working through the problem, I can appreciate the comment. The exercise purpose seems to be teaching wider/longer transforms, but the task is counting observations and wide

[2021-04-23 19:46] ayarnell commented on #308
ok PR submitted - hopefully did that right!

[2021-04-23 20:35] #308 closed

[2021-05-01 11:43] bbartholdy opened #311 "Replace JSON episode with Rmarkdown intro"
I was recently a helper for this workshop, and the [JSON episode](https://datacarpentry.org/r-socialsci/05-json/index.html) seemed like an awkward part of it. I have also never come across the need to process JSON data in my own research, nor do I know anyone else who has (this could of course just be a product of my field of study).

I wanted to suggest an alternative episode, where Rmarkdown is

[2021-05-01 22:03] StoianAndrei opened #312 "Error Opening Project"
<details>
<summary><strong>Instructions</strong></summary>

Thanks for contributing! :heart:
![Error_Opening_Project](https://user-images.githubusercontent.com/47652458/116796009-45ed7500-ab2d-11eb-8ae0-16ac22c78fb7.png)

Good morning,

I am trying to do my check-out and as such, I wanted to open the project in RStudio Cloud. Please find the attached photo to see the behavior of creating a new pro

[2021-05-03 19:47] kelseygonzalez commented on #301
Hi @elliewix , would you be interested in submitting a PR for this particular issue?

[2021-05-03 19:49] kelseygonzalez commented on #309
Hi @mikerspencer - this is good feedback. While I wasn't involved with writing this portion of the lesson, I understand your sentiment. I'll bring this to the other maintainers in our next meeting and see if we can develop a plan to address your concern.

[2021-05-03 19:55] kelseygonzalez commented on #311
Hi @bbartholdy - I think an episode on RMarkdown would be useful and I generally teach it when I teach this workshop. I usually pull on the [Software Carpentry R for Reproducible Scientific Analysis episode on Producing Reports With knitr](http://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html) and we could pull on this if we decide to add a lesson.

I will bring this to my n

[2021-05-03 21:06] kelseygonzalez commented on #312
Hi @StoianAndrei ! Did you download this .rproj from this repository? We never intended it to be used by participants or instructors and didn't mean for this file to be available at all, but it snuck in through a recent pull request. I'm going to delete this file now.

If you have an .rproj file from a different location, please let us know and we'll do what we can to help.

[2021-05-03 21:06] #312 closed

[2021-05-05 22:03] mccowen-ksu opened #314 "Naming variables in learners' first exercise"
I'm looking here at the <a href = "https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html">Introduction to R</a> episode of the "R for Social Scientists" course.

In the section **Creating Objects with R,** we give students the following warning:

<blockquote>There are some names that cannot be used because they are the names of fundamental objects in R (e.g., if, else, for, see here for a

[2021-05-06 09:09] juanfung commented on #314
@mccowen-ksu Thank you! Great suggestion. Would you be willing to submit PR for this change?

[2021-05-06 21:49] mccowen-ksu commented on #314
Yes! I’ll create and submit the PR as soon as possible — likely early next week.

[2021-05-07 13:01] #298 closed

[2021-05-10 16:44] #299 closed

[2021-05-17 15:45] kbroman opened #317 "Change illustration of '&' in Conditional subsetting"
In the Intro to [R lesson, line 487](https://github.com/datacarpentry/r-socialsci/blob/e516d2728265bd52771c5ec40a67c0c4acd9f72c/_episodes_rmd/01-intro-to-r.Rmd#L487), there are examples for `|` and `&`, but the one with `&` is something that can't be true

[code]

Maybe change this to something that is more common, like a range?

[code]

[2021-05-18 00:59] atheobold commented on #317
@kbroman -- Great catch! I completely agree with your suggestion. Would you be interested in putting in a pull request for this change?

[2021-05-18 02:28] kbroman commented on #317
Will do! It was actually @sstevens2 who noticed this, when she taught the material today at UW-Madison.

[2021-05-18 16:59] Talishask opened #320 "Lesson Contribution - Downloads and Grammar"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

I have a suggestion on downloading and saving the data set used for each module. At the beginning of the session, everyone is navigating a new software and the attendees f

[2021-05-18 17:08] Talishask opened #321 "Lesson Contribution for Missing Data & Presentation of SAFI Data"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

## CONTRIBUTION 1
**Episode**: Introduction to R (https://datacarpentry.org/r-socialsci/01-intro-tor/index.html)
**Section** on "Missing Data"
The example used is rooms <-

[2021-05-20 11:31] juanfung commented on #320
@Talishask Thanks! I will fix the typos and discuss the data directory suggestion with the other maintainers at our next meeting tomorrow.

[2021-05-20 11:33] juanfung commented on #321
@Talishask Please let the member know these are great suggestions. I will work on them.

[2021-05-21 04:10] atheobold commented on #321
@Talishask -- I really like your idea of more mindfully incorporating file directories into the lesson. I think my preference would be to "go big" and have a section on RStudio projects and the **here** package. These are the tools I use to teach good file management in R, and they take a lot of the icky details about full paths out!

[2021-05-21 05:13] kelseygonzalez commented on #321
@atheobold I agree that the here package would be better to introduce than setwd(). We can discuss this further in the upcoming maintainers meeting.

[2021-05-21 18:10] kelseygonzalez commented on #301
We have investigated this a little further and don't find any output in [the lesson](https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html) that shows the `key_ID` is being read and `<int>` and have decided to close the issue. However, if you are able to point us to where exactly this occurs we are open to reopening.

[2021-05-21 18:10] #301 closed

[2021-05-21 18:12] atheobold commented on #274
The "solution" proposed by @AmandaDPerez will produce a knitted HTML file with the option to download the RMarkdown file. However, the Rmd files inside the `_extras` folder are not getting knitted to HTML files (as seen [here](https://datacarpentry.org/r-socialsci/data-visualisation-handout/index.html)).

@fmichonneau -- is there a way to get the Rmd files in the `_extras` folder to knit to HTML f

[2021-05-21 18:34] kelseygonzalez commented on #311
@bbartholdy we are super open to making the JSON episode and "extra" episode and adding an .rmardown episode similar to the [Software Carpentry R for Reproducible Scientific Analysis episode on Producing Reports With knitr](http://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html). Would you be interesting in taking a first stab at the new episode?

[2021-05-22 09:33] bbartholdy commented on #311
@kelseygonzalez sure I'd be happy to take a swing at it! How would you like me to go about it? Replace the 05-json.Rmd with a new RMarkdown episode on my fork?

[2021-05-24 14:29] #283 closed

[2021-06-04 00:47] jing-library commented on #65
When introducing functions to inspect properties of a vector, class() is used to indicate "class (the type of element) of an object", which may not be accurate according to the R manuals (https://cran.r-project.org/doc/manuals/r-release/R-lang.html#Classes). I suggest using typeof() to indicate the data type instead.

[2021-06-04 11:41] juanfung commented on #65
@jing-library This is a good suggestion as `type` is more fundamental. Would you be interested in submitting a PR introducing `typeof` before `class`?

[2021-06-04 13:30] jing-library commented on #65
Thanks, Juan Fung.

Could you show me the procedure of PR?

Thanks,
Jingjing

From: Juan Fung ***@***.***>
Sent: Friday, June 4, 2021 6:42 AM
To: datacarpentry/r-socialsci ***@***.***>
Cc: Wu, Jingjing ***@***.***>; Mention ***@***.***>
Subject: Re: [datacarpentry/r-socialsci] data types and structures (#65)

@jing-library<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.co

[2021-06-04 14:55] juanfung commented on #65
@jing-library Yes the info is here: https://github.com/datacarpentry/r-socialsci/blob/gh-pages/CONTRIBUTING.md

Basically, fork the repo, make changes on a new branch in your repo, push changes, and then submit PR here https://github.com/datacarpentry/r-socialsci/pulls.

[2021-06-04 15:31] jing-library commented on #65
Thanks Juan Fung. I will do it later today.

-Jingjing

From: Juan Fung ***@***.***>
Sent: Friday, June 4, 2021 9:56 AM
To: datacarpentry/r-socialsci ***@***.***>
Cc: Wu, Jingjing ***@***.***>; Assign ***@***.***>
Subject: Re: [datacarpentry/r-socialsci] data types and structures (#65)

@jing-library<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjing-library&data=0

[2021-06-07 17:28] juanfung commented on #320
The typos have been fixed #325. We appreciate the suggestion about download paths, but feel using desktop is not good practice. Moreover, there are clear instructions to download the data to the `data` subdirectory for the lesson: https://datacarpentry.org/r-socialsci/00-intro/index.html

[2021-06-07 17:28] #320 closed

[2021-06-07 17:30] juanfung commented on #321
#325 clarifies the example. We appreciate the discussion on `setwd()`, but it is already discussed in ["Before We Start"](https://datacarpentry.org/r-socialsci/00-intro/index.html), which also provides instructions for downloading the data to the appropriate directory. Separately, the maintainers are discussing the possibility of introducing the **here** package in the lesson.

[2021-06-07 17:30] #321 closed

[2021-06-07 17:32] juanfung commented on #311
@bbartholdy If you're interested in contributing an Rmd episode, please add it as a separate episode. We will keep the json episode as an optional episode.

[2021-06-07 17:47] #314 closed

[2021-06-07 17:52] juanfung commented on #309
@mikerspencer We do appreciate your suggestion, but after discussing decided we will keep the example as is for two reasons:
- While the example as written can be solved in different ways, we do not teach `str_count()`
-  Solving the problem using `pivot_wider()` seems appropriate as the last example [in the docs](https://tidyr.tidyverse.org/reference/pivot_wider.html) is an aggregation (mean not

[2021-06-07 17:52] #309 closed

[2021-06-10 10:24] bencomp commented on #274
It looks like the Makefile should include the .Rmd files in `_extras` around
https://github.com/datacarpentry/r-socialsci/blob/bc7c2a38276681ea850716e5beb4b4ae295787ca/Makefile#L102-L103 as well as https://github.com/datacarpentry/r-socialsci/blob/bc7c2a38276681ea850716e5beb4b4ae295787ca/Makefile#L129-L134 to have them knitted.

I don't know whether changing the Makefile for this lesson only is ok

[2021-06-10 11:28] juanfung commented on #274
@bencomp Thanks for your insights on fixing this issue! It sounds like these are higher level decisions that should be addressed in the lesson template. I'll discuss with the other maintainers about opening an issue or PR in https://github.com/carpentries/workshop-template

[2021-06-21 17:46] jaxgoodlabs commented on #311
@kelseygonzalez I'm just dropping in to second @bbartholdy's comment above. The JSON episode felt like a bit of a non-sequitur to me as well, and I agree that an extended discussion of markdown would be more helpful.

Another alternative that would flow well from the data visualization material is a short section on regression analysis. Many of the participants we have at Carnegie Mellon will end

[2021-06-23 08:27] bbartholdy commented on #311
I don't think there is enough time in that episode slot to sufficiently cover linear regression. That being said, I definitely agree that there needs to be some linear regression in R in the curriculum for social sciences! Perhaps even a workshop dedicated to introducing generalised linear models.

[2021-06-23 13:01] jaxgoodlabs commented on #311
@bbartholdy I may be developing some curriculum along these lines later this summer with Carnegie Mellon Libraries. I'm happy to share it here as a starting point for a devoted episode.

[2021-06-23 13:42] bbartholdy commented on #311
That would mainly be for the maintainers @juanfung and @kelseygonzalez. Or maybe something to bring up at a community discussion? I am just coming up with a possible R Markdown replacement for the JSON episode.

[2021-06-23 15:44] atheobold commented on #311
@jaxgoodlabs & @bbartholdy -- The Carpentries mission is to build participant's capacity in "essential data and computational skills for conducting efficient, open, and reproducible research." There are substantial differences between *data* skills and *inferential* skills, and the purpose of the Carpentries curricula **is not** to develop researcher's inferential skills. Yes, I would agree that a

[2021-06-25 19:45] bbartholdy commented on #311
@atheobold, @juanfung and @kelseygonzalez, I am getting to a point where I can start testing the episode, but I am having trouble rendering the lesson, and I have no prior experience with Ruby. I get the following error with ruby 2.7.0p0 (2019-12-25 revision 647ee6f091) [x86_64-linux-gnu]:

bundle config set --local path .vendor/bundle && bundle install && bundle update && bundle exec jekyll serve

[2021-06-25 20:24] juanfung commented on #311
@bbartholdy I have had problems with Ruby on Mac OS Catalina and never figured out how to fix them. I'm not an expert here.

My suggestion is to use docker to serve instead: https://github.com/carpentries/lesson-docker

[2021-06-28 10:57] bbartholdy commented on #311
Thanks @juanfung , that worked great! Do you know of a good way to make it temporarily publicly available? I will be testing it out in a Data Carpentries workshop next week, and would like to make it available to the participants.

[2021-06-28 12:22] juanfung commented on #311
In principle, you should be able to build the site from your fork and have participants visit your fork of the site. In practice, site build is beyond my level of expertise so I can't help much beyond that!

[2021-07-12 18:20] bbartholdy commented on #311
@juanfung @kelseygonzalez @atheobold
I tested the episode at a Data Carpentry workshop last week and received very positive feedback from participants and instructors! I also incorporated some of the feedback into the episode, and I think it is ready for whatever are the next steps.
It can be accessed [here](https://bbartholdy.github.io/r-socialsci/06-rmarkdown/index.html).

[2021-07-13 13:31] juanfung commented on #311
Hey @bbartholdy I took a quick look and it looks awesome! We actually have a maintainers meeting on Friday so we can discuss it then, but I think it looks ready to be added.

[2021-07-16 18:15] juanfung commented on #311
@bbartholdy When you have a chance, please submit a PR to incorporate this episode into our repo!

[2021-07-17 20:48] atheobold commented on #274
Issue submitted to curriculum template repo: https://github.com/carpentries/workshop-template/issues/747

[2021-07-19 14:13] #311 closed

[2021-08-18 15:14] bioinfowlad opened #343 "Introduction to R episode needs more exercises"
The Subsetting Vectors section of the Introduction to R episode <https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html> needs an exercise or 2: it is introducing two concepts (subsets of data, logical vectors) and combining them in a way that is counterintuitive for some.

[2021-08-18 15:16] juanfung commented on #343
@bioinfowlad Thanks for the feedback. Would you be willing to submit a PR to add a couple of exercises?

[2021-08-18 23:44] bioinfowlad commented on #343
Yes, i'm starting to submit PRs to these episodes 2day :)

[2021-08-23 12:45] agully1 opened #348 "Install here package before use in Episode 3 (Starting with Data)"
In the third section, Starting with Data ([link](https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html)), the lesson makes use of the package "here" but there are no instructions to install it first, either in the episode or in the setup section. The code ```install.packages("here")``` needs to be added either in the first example or in the setup.

[2021-08-23 13:23] agully1 opened #349 "Episode 3 (Starting with data) text error"
In Episode 3 of this lesson, Starting with Data ([link](https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html)), in the final section "Formatting Dates", the text includes "As a reminder from earlier in this lesson, the best practice for dealing with date data is..."

This has not been mentioned anywhere earlier in the lesson as far as I can see. Consider changing this text?

[2021-08-23 14:57] juanfung commented on #348
@agully1 Thank you for noticing this. There should be instructions on installation at the end of episode 0: [Before we start](https://datacarpentry.org/r-socialsci/00-intro/index.html). Would you be interested in submitting a PR for this?

[2021-08-23 15:00] juanfung commented on #349
@agully1 Good catch. Would you be interested in submitting a PR for this? (No need for multiple PRs, esp since it's the same episode, you can submit one PR for both issues)

[2021-08-26 15:13] mcnanton opened #351 "Information about "NULL"s in the lesson's workshop data"
Hi!
I've been reading this lesson for my Carpentries certification and I've noticed that in `02-starting-with-data` it is mentioned that

However, that wasn't mentioned previously in episode 2, in previous episodes, or in the [dataset description](https://datacarpentry.org/socialsci-workshop/data/).
I think the solution would be to include that information within the description of the dataset (in

[2021-09-01 14:51] lalmaraz opened #352 "Typo fix req: "caluculate""
Episode "Data Wrangling with dplyr and tidyr" here: [https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/]( https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/ ) has a typo.

The typo is "caluculate", towards the end of the "Applying pivot_wider() to clean our data" section, the sentence "We then group the data by villages and caluculate the mean number of items, so each average is grouped by v

[2021-09-01 15:03] juanfung commented on #352
@lalmaraz Thanks!

[2021-09-01 15:03] #352 closed

[2021-09-02 15:31] bioinfowlad commented on #343
Yes, but I haven't scheduled it. I can close the issue if that helps.

[2021-09-02 15:34] juanfung commented on #343
@bioinfowlad If you're planning to, we can keep it open. If not, no problem - I can add a couple of exercies.

[2021-09-02 20:11] #351 closed

[2021-10-06 03:58] kerchner opened #358 "Lesson 1 formatting as rendered is garbled past "How many values in combined_logical...""
The content below approximately
https://github.com/datacarpentry/r-socialsci/blob/eb13d5f30ef4dc77da61d53a8087d162f3428289/_episodes_rmd/01-intro-to-r.Rmd#L412
is garbled.  It looks like a syntax error in the markdown may have been introduced.

![image](https://user-images.githubusercontent.com/3451175/136138512-6b0024d6-ec75-4cd9-9c61-ffe66899aeca.png)

[2021-10-06 04:02] kerchner opened #359 "Lesson 2 formatting is garbled as rendered past `plot(memb_assoc)`"
Lesson 2 content below approximately
https://github.com/datacarpentry/r-socialsci/blob/3b07ee727e37d9c9378fdea830ebeea84596d863/_episodes_rmd/02-starting-with-data.Rmd#L515
is garbled. It looks like a syntax error in the markdown may have been introduced.
![image](https://user-images.githubusercontent.com/3451175/136138670-aaa08c6a-e7c0-4df5-80c9-5dea5c937a87.png)

[2021-10-06 12:41] juanfung commented on #359
@kerchner Thanks! Fixed.

[2021-10-06 12:41] #359 closed

[2021-10-06 15:06] rachaellam opened #360 "Introduce alternative to reading csvs with here package in lesson 2"
In lesson 2, "Starting with R," the package `here` is introduced to load a csv. It is written as:

`interviews <- read_csv(here("data", "SAFI_clean.csv"), na = "NULL")`

I would suggest adding the alternative -   `interviews <- read_csv(here("data/SAFI_clean.csv"), na = "NULL")`   - in this lesson because it's used in lesson 5, "Data Visualisation with ggplot2," without any context which might be

[2021-10-06 20:50] #358 closed, assigned to nobody

[2021-10-08 13:27] juanfung opened #362 "Remove redundant data folder"
Currently `SAFI.json` is stored [here](https://github.com/datacarpentry/r-socialsci/tree/main/_episodes_rmd/data)
 and [here](https://github.com/datacarpentry/r-socialsci/tree/main/data)

The first also contains `SAFI_clean.csv`.

Need to make sure (1) references to data directory in lesson are consistent and (2) there is only one data directory

[2021-10-18 15:03] ezherman opened #363 "Easier instructions on updating R for Windows"
Might be easier for learners using Windows to update R using the `updateR()` function from the `installr` package. Following the [package repo](https://github.com/talgalili/installr), all you need to do is:

`library("installr")`
`updateR()`

I believe this avoids any issues with re-installing packages.

[2021-10-18 15:27] juanfung commented on #363
@ezherman Thanks! This is a great suggestion. Is this in reference to the instructor notes, or a suggestion that we address updating? I don't recall if/where we address updates

[2021-10-19 12:51] ezherman commented on #363
@juanfung done!

[2021-10-19 16:46] #363 closed, assigned to nobody

[2021-11-02 12:03] amycfarrow opened #365 "Typo fix request: "the the""
Episode [Data Wrangling with dplyr and tidyr](https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html) has a typo in section 'Reshaping with pivot_wider() and pivot_longer()', subsection 'Long and wide data formats'. In the first paragraph of that subsection, it says "it is stated that **the the** key_ID was “added to provide a unique Id for each observation”".

Thank you!

[2021-11-02 17:53] juanfung commented on #365
Thanks @amycfarrow !

[2021-11-02 17:53] #365 closed

[2021-12-07 18:40] LuisaFassi commented on #360
In relation to this issue, I also suggest to explain in more detail setwd() as part of the lesson. At the moment, the lesson mentions "relative paths work regardless of where the associated source file lives inside your project, like analysis projects with data and reports in different subdirectories. This is an important contrast to using setwd(), which depends on the way you order your files on

[2021-12-07 19:09] juanfung commented on #360
@LuisaFassi thank you, it's a great point and I agree. If you'd like to submit a PR that adds language specifically on `setwd()`, that would be great!

[2021-12-16 08:31] Ahobert opened #369 "Broken links to cheatsheets within lesson material"
Links to cheatsheets (RStudio IDE, dplyr, and so on) in several episodes are 404s. I will try submitting a pull request and replace them.

[2021-12-16 21:25] #369 closed

[2022-01-11 21:38] livelyjing commented on #274
Can we use output: md_document in the rmd file to rent into md document and save the md documents in the _Extra folder to fix the issue?

[2022-01-18 14:17] juanfung commented on #274
@livelyjing thank you for the suggestion! To be honest, I have no idea if that will fix it. Would you be willing to test that out on a local version of the repo (or you can serve using docker)?

[2022-01-18 14:43] alwil opened #373 "plot mapping assigned to an object, but not used later in the episode"
The issue concerns episode on plotting in [ggplot2](https://datacarpentry.org/r-socialsci/04-ggplot2/index.html).

At some point in the episode the plot is assigned to an object [interviews_plot](https://datacarpentry.org/r-socialsci/04-ggplot2/index.html#:~:text=%23%20Assign%20plot%20to%20a%20variable%0Ainterviews_plot%20%3C%2D%20interviews_plotting%20%25%3E%25%0A%20%20%20%20ggplot(aes(x%20%3D%20

[2022-01-18 14:50] alwil opened #374 "data.table reference"
This issue concerns the episode [Data Wrangling with dplyr and tidyr](https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html).

In this episode, I would appreciate a short mention of alternatives to `dplyr` or `tidyverse` more generally. Specifically, `data.table`  is quite a prominent package that is widely used, especially in a context of big data. Many learners might have come across t

[2022-01-19 13:22] juanfung commented on #374
@alwil i like this idea a lot. Would you be interested a PR that adds a brief note `data.table` as an alternative and a link to those sources?

[2022-01-20 14:22] annajiat opened #382 "Need jump lists (anchors) for headings"
@zkamvar
We need to update style for this lesson so that jump lists (anchors for different sections) becomes automatically available for different levels of headings.

[2022-01-21 20:41] karenword opened #383 "Mentioning "tibble""
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

There is no mention or description of a tibble in the paragraph attached to it.

[2022-01-26 16:25] juanfung commented on #383
@karenword thank you. Unfortunately there is not sufficient information provided, so closing for now!

[2022-01-26 16:25] #383 closed

[2022-02-06 20:46] steltenpower opened #385 "first use of function with side effects needs explaining?"
On
levels(respondent_floor_type)[2] <- "brick"
a student said:"if you're not putting the result of the levels function into a variable, what's going on?"

[2022-02-06 23:07] steltenpower opened #386 "citation functionality not mentioned"
As datacarpentry is aimed at researchers, citations are an important part of their job.
Therefore a page on Rmarkdown should mention citations.

Maybe just one sentence about it including a link that is a more up-to-date version of
https://www.rstudio.com/blog/rstudio-1-4-preview-citations/

[2022-02-09 15:46] atheobold commented on #386
@steltenpower -- I would agree! This could also be a great place to add a short blurb about the `citation()` function in R. Would you be interested in putting in a pull request for this content?

[2022-02-09 15:48] atheobold commented on #385
@steltenpower -- I would agree that this is a bit hard to understand for beginners. Personally, I would like to see this changed to some of the functions from the **forcats** package, such as `fct_relevel()`. Would you be interested in putting in a pull request improving this section of the workshop content?

[2022-02-16 23:36] jing-library opened #387 "No_listed_items to be excluded when calculating the row sum"
for the code

mutate(number_items = rowSums(select(., bicycle:car)))

in the chapter [03-dplyr-tidyr.Rmd](https://github.com/datacarpentry/r-socialsci/blob/main/_episodes_rmd/03-dplyr-tidyr.Rmd), families that do not have any items are assigned 1 in the variable number_items. The column "no_listed_items" should be excluded when calculating the row sum.
mutate(number_items = rowSums(select(., bicyc

[2022-02-17 13:15] jjmedinaariza opened #388 "Setup and references to Rtools for Windows installs"
The Setup section (https://datacarpentry.org/r-socialsci/setup.html) probably needs to be updated to make references to Rtools in the Windows instructions. As noted in the CRAN repository "Starting with R 4.0.0 (released April 2020), R for Windows uses a toolchain bundle called rtools4." As I discovered through a recent install in a new machine not having gone through this process gave me problems

[2022-02-17 17:31] atheobold commented on #387
@jing-library -- Great note! This would be a great modification to the lesson. Would you be interested in putting in a PR for this change? If so, could you also insert a sentence surrounding the code explaining *why* we are "unselecting" the `no_listed_items` column?

Thanks!

[2022-02-18 20:03] juanfung commented on #343
@bioinfowlad closing for now. please reopen if and when you are ready to add!

[2022-02-18 20:09] #373 closed, assigned to nobody

[2022-02-18 20:24] juanfung commented on #374
Resolved [linl](www.link.com)

[2022-02-18 20:24] #374 closed

[2022-02-22 18:21] #382 closed

[2022-02-23 13:25] juanfung commented on #274
@zkamvar i wonder if you might be able to help with this issue. Basically, we created code handout `.Rmd` files, located in the `_extras` directory. They are not rendered to html because files in `_extras` are not knitted (per the Makefile). Any thoughts?

I did try @livelyjing's suggestion but that did not solve the problem.

[2022-02-23 15:57] zkamvar commented on #274
Unfortunately, the way the styles template is set up, it's not possible to do this without manual intervention (i.e. rendering the files locally) or modifying the Makefile (which will cause problems updating the template in the future).

## potential solutions with the styles template

A least-amount-of-work solution is to do what https://swcarpentry.github.io/r-novice-gapminder/ did and place the

[2022-02-23 18:43] tobyhodges commented on #274
Adding another possible solution for the current template: put the Rmd files in `_episodes` and use the optional manual episode ordering conifguration to prevent the knitted files from showing up in the Episodes dropdown or lesson navigation.

1. move the Rmd files to `_episodes`
2. add [an `episode_order` field to `_config.yml`](), listing all the proper episode files but leaving out the handout

[2022-02-24 15:57] juanfung commented on #274
Thank you for the suggestions! I think for now the path of least resistance is to drop them into `_episodes_rmd` and label them as "extra" content.

@zkamvar, very excited about the Workbench! Yes, I would love for this lesson to participate in the beta phase.

[2022-03-04 19:25] juanfung commented on #362
Removed second directory as redundant and unused

[2022-03-04 19:25] #362 closed

[2022-03-04 19:33] #387 closed

[2022-03-08 17:09] dakane1 opened #392 "Broken data link."
Data Analysis and Visualization with R for Social Scientists the data on [Processing JSON data (Optional)](https://datacarpentry.org/r-socialsci/06-json/index.html) has a broken link and the link is broken on the setup page as well.  Thanks!

[2022-03-08 21:31] juanfung commented on #392
Thanks @dakane1 ! Accidentally removed the wrong directory per #362. Fixed.

[2022-03-08 21:31] #392 closed

[2022-03-15 17:58] #360 closed

[2022-03-21 04:32] dkangsim-ehg commented on #388
I came to to this page to make a suggestion on adding a setup instruction for Rtools for Windows users. I am glad @jjmedinaariza raised created this issue.

[2022-03-21 15:23] juanfung commented on #388
@dkangsim-ehg thanks! Would you be interested in submitting a PR per the discussion above?

[2022-04-28 19:38] jlahne opened #394 "broken link in "Data Wrangling with dplyr and tidyr" episode"
In reviewing [episode 3 - Data Wrangling with dplyr and tidyr](https://github.com/datacarpentry/r-socialsci/blob/d07e52a5d1111e81dc1ff3db9f1cc07d9c1b23f3/_episodes_rmd/03-dplyr-tidyr.Rmd), I noticed that the link to the comparison of `data.table`, `tidyverse`, and `base` (starting in line 94 of the `.Rmd`) is broken.  I don't know quite where it was meant to point, and I am a new instructor who is

[2022-04-28 19:48] #394 closed

[2022-05-02 15:04] jlahne opened #395 "errors in the pivot_longer() section of r-socialsci/_episodes_rmd/03-dplyr-tidyr.Rmd"
The pivot_longer() demo starting at line 695 in [03-dplyr-tidyr.Rmd](https://github.com/datacarpentry/r-socialsci/blob/main/_episodes_rmd/03-dplyr-tidyr.Rmd) is incorrect because of the use of the `:` selector in the `cols = ` argument.  The `interviews_wide` data frame created in the example before, used for this part of the demo, can have a different order of columns than that implied by the `bu

[2022-05-02 17:57] juanfung commented on #395
@jlahne thanks and great catch. Would you be interested in submitting a PR with this change?

[2022-05-02 18:06] juanfung commented on #395
@jlahne no problem! I will take care of it in the next few days, using exactly the code you suggest above. You are always welcome to contribute in the future!

[2022-05-03 01:18] elifdy commented on #395
@juanfung I submitted a PR with this change.

[2022-05-03 12:46] #395 closed

[2022-05-03 18:31] elifdy commented on #65
@juanfung I submitted PR for this

[2022-05-03 18:44] #65 closed

[2022-05-03 18:44] juanfung commented on #65
@elifdy awesome! Thank you!

[2022-05-13 15:25] zkamvar commented on #274
Hi @juanfung, the beta phase signup can be found here: https://github.com/carpentries/workbench/discussions/4

[2022-05-13 19:17] juanfung commented on #274
@zkamvar thank you! just signed up

[2022-06-29 01:18] juanfung opened #403 "Update README with new maintainers"
@eirini-zormpa and @jpallen when you have a chance, please add your names and github pages to the list of maintainers on the README!

[2022-06-29 08:09] eirini-zormpa commented on #403
Thanks @juanfung! @jpallen I added my name to a new branch (2022-new-contributors)

[2022-06-29 09:08] jpallen commented on #403
Hey, it's been a long time since I've contributed to the carpentries, so I'm not quite sure how I've been flagged as a maintainer for this, sorry. I don't think I should be.

[2022-06-29 10:33] eirini-zormpa commented on #403
Oops, sorry about that! We tagged the wrong person 😅

[2022-06-29 14:21] eirini-zormpa commented on #403
added!

[2022-07-14 21:17] cgross95 commented on #385
If there is still any interest in making these changes throughout the episode, I would be happy to contribute a pull request!

If so, the same section uses, e.g., in [line 395](https://github.com/datacarpentry/r-socialsci/blob/c89e0a2a1df5195f71fc188b76899c79d4ec5633/_episodes_rmd/02-starting-with-data.Rmd#L395)
`respondent_floor_type <- factor(respondent_floor_type,

[2022-07-15 09:23] juanfung commented on #385
@cgross95 that would be great! Since we have not introduced **forcats** yet, I would prefer the former but if you are feeling ambitious perhaps we could have a callout with a quick intro to **forcats** illustrating the alternative, and maybe some other uses. Either way, I'm happy with the explicit use of `factor` as in line 395 for consistency.

[2022-07-15 18:23] #385 closed

[2022-07-30 19:43] massaraevi opened #406 "Consider raising attention to the potential ambiguity of the assignment arrow (<-) operator."
In the section "Intro to R" of the Instructor [Notes,](https://datacarpentry.org/r-socialsci/guide/index.html?fbclid=IwAR3sshagKOllWgdFV-utS2_WkvAD_ua2ICobboFaCQr5IIKLPh-bgVsgtsA#intro-to-r) the assignment arrow operator (<-) is discussed. This is a good point to warn readers of the potential ambiguity of the operator in R. Since the operator consists of a symbol that resembles the "less than" com

[2022-08-01 12:25] juanfung commented on #406
hi @massaraevi thank you for the observation! i think an additional bullet explaining this would be a nice addition to the instructor notes. would you be interested in submitting a PR?

[2022-08-03 20:45] ferproanocuenca commented on #386
I have sat in some workshops and find that most instructors use the exercises immediately after introducing a new concept. Other times, the exercises are used later once more information is available to push attendees to interact more or be more involved. So it depends on the teaching style, the lesson's topic, and the time to fit in the schedule.

Anyhow, I agree it depends on the course and poss

[2022-08-25 23:45] carlosramre opened #407 "A lower alpha helps visualizing transparency of overlapping points in the scatterplot"
When introducing "alpha" in the Data Visualizations with ggplot2 episode, I'd suggest changing it to alpha = 0.3, instead of the current alpha = 0.5. When following this lesson, the changes observed with alpha = 0.5 are barely perceptible by me, and I suspect to others, but a lower alpha helped me perceive the modified transparency of overlapping observations.

interviews_plotting %>%
    ggplot(a

[2022-08-26 11:29] juanfung commented on #407
@carlosramre i think this is a good suggestion, thank you! would you be willing to submit a PR with these changes?

[2022-08-26 22:23] carlosramre commented on #407
Sure, I think I just did that.

[2022-08-29 19:31] juanfung commented on #407
thank you @carlosramre !

[2022-08-29 19:31] #407 closed

[2022-10-21 13:18] clairezcook opened #421 "Intro to R... wording"
The section below is one of the very first sections in the lesson. This isn't really an intro to R and before students even interact with R we are telling them the history of very specific notation. I wonder if this could be an aside later in the lesson. Additionally, I think an intro to R here could be what R can be used for and why it is an interface that many people, especially social scientist

[2022-10-21 15:42] jessesadler commented on #421
This wording is from the Instructor notes and not from the lesson itself. This is some extra information to provide some background for why the style of <- is preferred over =. The actual introduction to R can be found in the Before we start episode.

[2022-11-30 03:45] isaac-jennings opened #426 "Visual learning aid for tidy data"
Hi,

As a requirement for instructor training checkout, I am hoping this contribution is suitable and meaningful for the community and future learners.

In episode five 'Data wrangling with tidyr',  the explanation of the three rules governing tidy data [https://datacarpentry.org/r-socialsci/04-tidyr/index.html#reshaping-with-pivot_wider-and-pivot_longer](url) does not contain any material that ca